@charset "utf-8";
@import "./normalize";

$webFontUrl: "http://192.168.31.210:8188/static";
@if ($env == "production") {
  $webFontUrl: "/static";
}
$base-width: 1170px;
$base-color: #333;

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "ubuntu";
  src: url("#{$webFontUrl}/ubuntu-r.woff2") format("woff2"),
    url("#{$webFontUrl}/ubuntu-r.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  display: block !important;
  opacity: 1 !important;
  font-family: "ubuntu", sans-serif;
  color: $base-color;
  overflow-x: hidden;
}

.show {
  display: block;
  opacity: 1;
}
.hide {
  display: none;
  opacity: 0;
}
.text-center {
  text-align: center;
}

.padding20 {
  padding: 20px;
}

.header-with-color {
  background-image: linear-gradient(-270deg, #784ade 0%, #4324ba 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);  
}
// loading
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

.loading {
  @extend %flex-center;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(67, 36, 186, 1);
  &-inner {
    &-dot {
      background-color: #ccc;
      width: 5px;
      height: 35px;
      border-radius: 2px;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      display: inline-block;
      animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
      &:nth-child(2),
      &:nth-child(4) {
        animation-delay: -0.4s !important;
      }
      &:nth-child(1),
      &:nth-child(5) {
        animation-delay: -0.2s !important;
      }
    }
  }
}
