@import "./mixins";
@import "./global";
@import "./web/global";
@import "./web/header";
@import "./web/footer";

// index
@import "./web/index/common";
@import "./web/index/banner";
@import "./web/index/assets";
@import "./web/index/vision";
@import "./web/index/whoAreWe";
@import "./web/index/problems";
@import "./web/index/approach";
@import "./web/index/service";
@import "./web/index/advantage";
@import "./web/index/now";
@import "./web/index/platform";
@import "./web/index/develop";
@import "./web/index/team";
@import "./web/index/social";
@import "./web/index/connect";
@import "./web/index/nav";
@import "./web/index/faq";
// team
@import "./web/team/list";