.t-list {
  padding: px2(55) px2(20) 0;
}
.t-item {
  position: relative;
  padding: px2(30) 0;
  // display: flex;
  border-bottom: 1px solid #d9d9d9;
  &:last-of-type {
    border-bottom: 0;
  }
  &-avator {
    position: absolute;
    left: 0;
    top: px2(30);
    width: px2(100);
    height: px2(100);
    & > img {
      width: px2(100);
      height: px2(100);
    }
    &:after {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      width: px2(101);
      height: px2(101);
      background: url("../assets/avators/head-mask-white.svg") no-repeat center;
      background-size: 100%;
    }
    &-linkedin {
      position: absolute;
      right: 0;
      bottom: 0;
      width: px2(16);
      height: px2(16);
      background: url("../assets/team/linked-in.svg") no-repeat center;
      background-size: 100%;
      z-index: 1000;
    }
  }
  &-avator-company {
    &:before,
    &:after {
      display: none;
    }
  }
  &-staff {
    // flex: 1;
    &-name {
      font-size: px2(20);
      color: #4324ba;
      margin-left: px2(120);
      line-height: px2(24);
      @extend %no-margin;
      margin-bottom: px2(7);
      padding-top: px2(78 - 30);
    }
    &-position {
      font-size: px2(16);
      margin-left: px2(120);      
      font-weight: normal;
      color: #4324ba;
      line-height: px2(22);
      @extend %no-margin;
      margin-bottom: px2(22);
    }
    &-position-desc {
      font-size: px2(16);
      color: #ff5c3c;
      line-height: px2(30);
      @extend %no-margin;
      // margin-bottom: px2();
      &>a {
      color: #ff5c3c;        
      }
    }
    &-introduce {
      font-size: px2(16);
      color: #777777;
      line-height: px2(30);
      margin-bottom: px2(10);
      @extend %no-margin;
    }
    &-companies {
      width: 100%;
      max-height: px2(79);
    }
    &-chart {
      &-table {
        margin-bottom: px2(10);
        td {
          padding: px2(7.5);
        }
      }
      &-canvas {
        width: 100%;
        height: px2(150);
      }
    }
  }
}
