<footer class='g-footer'>
  <div class="g-footer-inner u-web container">
    <div class='g-footer-item g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <dl class='g-footer-contact-desc'>
        <dt>Address:</dt>
        <dd>10 Anson Road #27-18 International Plaza Singapore 077903</dd>
      </dl>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <dl class='g-footer-contact-desc'>
        <dt>Email:</dt>
        <dd>hello@honour.network</dd>
      </dl>
    </div>
    <div class='g-footer-item g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/terms-conditions.html">Terms & Conditions</a>
      </p>
    </div>
  </div>
  <div class="g-footer-copyright">
    Copyright Honour Network Pte. Ltd.
  </div>

</footer>

<!-- return back to top -->
<div class='back-to-top' id='backToTop'></div>

<div class='loading' id='loading'>
    <div class="loading-inner">
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
    </div>
</div>

<!-- html的熱更新 -->
<script src="http://localhost:35729/livereload.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117106038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-117106038-1');
</script>
</body>

</html>