<header class='g-header @@class' id='gHeader'>
  <div class="g-header-logo">
    <a href="/">
      <img class='g-header-logo-asset lazyload' src="../assets/logo.png" alt="">
    </a>
  </div>
  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="/" class='g-header-navbar-link'>FundTech</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/team.html" class='g-header-navbar-link'>Team</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="javascript:" target="_blank" class='g-header-navbar-link' id="demoHeaderBar">Demo</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="https://medium.com/honour-network" target="_blank" class='g-header-navbar-link'>Blog</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="faq.html" class='g-header-navbar-link'>FAQ</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/static/Honour_Network_White_Paper_Final_Draft_2018-06-08.pdf" class='g-header-navbar-link'>Whitepaper</a>
      </li>
    </ul>
  </nav>
</header>
<section class='i-nav' id="headerBar">
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item">
        <a href="/" class='i-nav-main-link'>FundTech</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/team.html" class='i-nav-main-link'>Team</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:" class='i-nav-main-link' id="demoHeader">Demo</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="https://medium.com/honour-network" class='i-nav-main-link'>Blog</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/faq.html" class='i-nav-main-link'>FAQ</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/Honour_Network_White_Paper_Final_Draft_2018-06-08.pdf" class='i-nav-main-link'>Whitepaper</a>
      </li>
    </ul>
  </div>
</section>