<section class='i-nav' id="headerBar">
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='i-nav-main-link'>One Pager</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/team.html" class='i-nav-main-link'>Team</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:" class='i-nav-main-link' id="demoHeader">Demo</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="https://medium.com/honour-network" class='i-nav-main-link'>Blog</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/faq.html" class='i-nav-main-link'>FAQ</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_WP_2018-08-09.pdf" class='i-nav-main-link'>Whitepaper</a>
      </li>
    </ul>
  </div>
</section>