<header class='g-header @@class' id='gHeader'>
  <div class="g-header-logo">
    <a href="/">
      <img class='g-header-logo-asset lazyload' data-src="../assets/logo.png" alt="">
    </a>
  </div>
  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='g-header-navbar-link'>One Pager</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/team.html" class='g-header-navbar-link'>Team</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="javascript:" target="_blank" class='g-header-navbar-link' id="demoHeaderBar">Demo</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="https://medium.com/honour-network" target="_blank" class='g-header-navbar-link'>Blog</a>
      </li>
      <!--<li class='g-header-navbar-item'>-->
        <!--<a href="faq.html" class='g-header-navbar-link'>FAQ</a>-->
      <!--</li>-->
      <li class='g-header-navbar-item' id="whitepaper">
        <a href="javascript:" class='g-header-navbar-link'>Whitepaper</a>
        <div class="g-header-navbar-listDiv" id="whitepaperList">
          <div class="g-header-navbar-listDiv-content">
            <a href="/static/HN_WP_2018-08-09.pdf" target="_blank" class='g-header-navbar-link'>EN</a>
            <a href="/static/HN_WP_ZH_2018-08-09.pdf" target="_blank" class='g-header-navbar-link'>中文</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
<section class='i-nav' id="headerBar">
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='i-nav-main-link'>One Pager</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/team.html" class='i-nav-main-link'>Team</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:" class='i-nav-main-link' id="demoHeader">Demo</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="https://medium.com/honour-network" class='i-nav-main-link'>Blog</a>
      </li>
      <!--<li class="i-nav-main-item" data-target="problems">-->
        <!--<a href="/faq.html" class='i-nav-main-link'>FAQ</a>-->
      <!--</li>-->
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_WP_2018-08-09.pdf" class='i-nav-main-link'>Whitepaper-EN</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_WP_ZH_2018-08-09.pdf" class='i-nav-main-link'>Whitepaper-中文</a>
      </li>
    </ul>
  </div>
</section>