<section class='i-nav' id="headerBar">
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item">
        <a href="/" class='i-nav-main-link'>FundTech</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/team.html" class='i-nav-main-link'>Team</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:" class='i-nav-main-link' id="demoHeader">Demo</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="https://medium.com/@honournetwork" class='i-nav-main-link'>Blog</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/faq.html" class='i-nav-main-link'>FAQ</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/Honour.Network-Whitepaper_2018_05_07.pdf" class='i-nav-main-link'>Whitepaper</a>
      </li>
    </ul>
  </div>
</section>