<header class='g-header @@class' id='gHeader'>
  <div class="g-header-logo">
    <a href="/">
      <img class='g-header-logo-asset lazyload' src='../assets/placeholder.png' data-src="../assets/logo.png" alt="">
    </a>
  </div>

  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="/" class='g-header-navbar-link'>Honour</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/team.html" class='g-header-navbar-link'>Team</a>
      </li>
    </ul>
  </nav>
</header>