<section class="i-problems i-bgGray">
  <h3 class='i-problems-title'>How Does FundTech Platform Help?</h3>
  <div class="i-problems-item">
    A pool of qualified investors with blockchain identity for asset managers
  </div>
  <div class="i-problems-item">
    Enable asset-backed tokens issue by licensed & regulated asset managers
  </div>
  <div class="i-problems-item">
    Investors buy asset-backed tokens directly without intermediaries
  </div>
  <div class="i-problems-item">
    Enable collective wisdom investing between asset managers and their investors
  </div>
  <div class="i-problems-item">
    Empower asset-backed token holders on investment & divestment
  </div>
  <div class="i-problems-item">
    Create the life-cycle of asset management on the blockchain
  </div>
  <div class="i-problems-item">
    Ensure on- and off-the-chain transparency & provenance using blockchain as single source of truth
  </div>
  <div class="i-problems-item">
    Enable efficient distribution of income & residue value on the blockchain
  </div>
  <div class="i-problems-item">
    Adhere To Regulatory Standards
  </div>
</section>
