<section class="i-problems">
  <h3 class='i-problems-title'>We Stand Out For Having All Right Things</h3>
  <div class="i-problems-subTitle i-problems-textRed">We Bring Real World Assets To The Blockchain</div>
  <div class="i-problems-item i-problems-textGray">
    Digitalized, Decentralized, Disintermediated & Democratize
  </div>
  <div class="i-problems-subTitle">We Adhere To Regulatory Standards</div>
  <div class="i-problems-item i-problems-textGray">
    We stay abreast with regulatory requirements & embed them into our solutions
  </div>
  <div class="i-problems-subTitle">We have Use Case & Committed Customer</div>
  <div class="i-problems-item">
    FundTech platform serving the Fund Management industry and Fleur Capital (S) Pte. Ltd. is our pilot customer
  </div>
  <div class="i-problems-subTitle">We develop Community & Industry</div>
  <div class="i-problems-item">
    We<font class="i-problems-textRed"> incubate</font> inclusive Innovation Labs, build an ecosystem of solution partners and host international conferences, forums & discussions
  </div>
</section>
