$g-header-height: 72px;
$g-header-padding: 30px;

.g-header {
  z-index: 1000000;
  position: fixed;
  top: 0;
  width: 100%;
  height: $g-header-height;
  padding: 0 $g-header-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-logo {
    &-asset {
      width: 217px;
      height: 36px;
    }
  }
  &-navbar {
    display: inline-flex;
    @extend %no-list-style;
    &-item {
      margin-right: 25px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &-link {
      color: #fff;
      font-size: 22px;
      text-decoration: none;
    }
  }
}

.g-header-type2 {
  z-index: 10000000;
  background-image: linear-gradient(270deg, #784ADE 0%, #4324BA 100%);
}

#headerBar {
  display: none;
}