.i-advantage {
  background-color: #fbfbfb;
  padding-top: 100px;
  padding-bottom: 131px;
  &-list {
    @extend %no-list-style;
    padding-top: 78px;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &-asset {
      margin-right: 76px;
      flex-shrink: 0;
      width: 84px;
      height: 84px;
    }
    &-desc {}
    &-title {
      font-weight: normal;
      font-size: 28px;
      margin: 0 0 12px;
    }
    &-para {
      font-size: 22px;
      line-height: 26px;
      margin: 0;
    }
  }
}