.i-approach {
  background: #FFFFFF;
  @extend %flex-center;
  flex-direction: column;
  &-title {
    margin-top: 100px;
    font-family: Ubuntu-Bold sans-serif;
    font-size: 46px;
    color: #FF5C3C;
    letter-spacing: 0;
    text-align: center;
  }
  &-img {
    margin-top: 36px;
    width: 1160px;
    height: 322px;
    img {
      object-fit: cover;
      object-position: 0 0;
      width: 100%;
      height: 100%;
    }
  }
  &-subTitle {
    margin-top: 40px;
    font-family: Ubuntu-Bold sans-serif;
    font-size: 46px;
    color: #4324BA;
    letter-spacing: 0;
    text-align: center;
  }
  &-content {
    margin-top: 52px;
    @extend %flex-center;
    @for $i from 1 through 4 {
      &-item-#{$i} {
        flex: 1;
        @extend %flex-center;
        width: 260px;
        height: 205px;
        margin-left: 40px;
        padding: 0 20px;
        font-family: Ubuntu sans-serif;
        border-radius: 5px;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        background-image: linear-gradient(-135deg, #3F2A9F 0%, #39277E 100%);
        &::after {
          content: '#{$i}';
          position: absolute;
          opacity: 0.15;
          font-size: 124px;
          color: #FFFFFF;
          font-family: Ubuntu sans-serif;
        }
      }
    }
  }
}