.i-banner {
  height: 780px;
  background: url("../assets/banner.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#4324ba, 0.9);
  }
  &-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &-info {
    margin-top: 124px + 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      line-height: 54px;
      font-size: 47px;
      color: #ffffff;
      text-align: center;
      @extend %no-margin;
      @extend %no-padding;
    }
    &-divider {
      width: 230px;
      height: 1px;
      background-color: #fff;
      opacity: 0.5;
      margin-top: 26px;
      margin-bottom: 15px;
    }
    &-sub-title {
      line-height: 53px;
      font-size: 47px;
      font-weight: normal;
      text-align: center;
      color: #ffffff;
      @extend %no-margin;
      @extend %no-padding;
      margin-bottom: 122px;
    }
    &-btn {
      appearance: none;
      background-color: transparent;
      color: #fff;
      outline: none;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 100px;
      padding: 18px 24px;
      transition: color 0.35s;
      &:hover {
        background-color: #fff;
        color: $base-color;
      }
    }
  }
  &-mail {
    &-title {
      font-size: 22px;
      color: #ffffff;
      line-height: 26px;
      margin-top: 0;
      margin-bottom: 34px;
      @extend .text-center;
    }
  }
  &-form {
    &-wrapper {
      display: flex;
    }
    &-input {
      width: 265px;
      margin-right: 18px;
      input {
        width: 100%;
        font-size: 16px;
        color: #333;
        height: 16px;
        padding: 19px 24px;
        background: #fcfcfc;
        border: 1px solid #fcfcfc;
        border-radius: 100px;
        outline: none;
        ::-webkit-input-placeholder {
          color: #ccc;
        }
      }
    }
    &-button {
      appearance: none;
      cursor: pointer;
      border: 1px solid #ffffff;
      background-color: transparent;
      border-radius: 100px;
      height: 40px;
      width: 104px;
      @extend %flex-center;
      font-size: 16px;
      color: #fff;
      transition: 0.35s;
      &:hover {
        background-color: #fff;
        color: #333;
      }
    }
    &-response {
      margin-top: 10px;
      @extend %flex-center;
      a {
        color: #fff;
      }
      .response {
        max-width: 500px;
        @extend .text-center;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}
div[for="mce-EMAIL"] {
  padding-top: 10px;
  width: 265px;
  color: #fff;
  background-color: transparent !important;
}
