.i-section {
  &-title {
    @extend %no-margin;
    font-size: 46px;
    color: #4324BA;
    line-height: 53px;
    text-align: center;
    font-weight: normal;
  }
  &-title-type2 {
    color: #FF5C3C;
  }
  &-sub-title {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    margin-top: 11px;
    margin-bottom: 0;
  }
}
.i-ul {
  &-icon{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: red;
    margin-right: 20px;
  }
}
.u-mobile {
  display: none !important;
}