.i-incentive {
  background: #FFFFFF;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    padding-bottom: 120px;
    &-title {
      margin-top: 120px;
      font-family: ubuntu-Bold , sans-serif;
      font-size: 46px;
      color: #4324BA;
      letter-spacing: 0;
      text-align: center;
    }
    &-subTitle {
      margin-top: 65px;
      font-family: ubuntu, sans-serif;
      font-size: 40px;
      color: #05BAC5;
      letter-spacing: 0;
      text-align: center;
    }
    &-content {
      @extend %flex-center;
      margin-top: 60px;
      &-img {
        width: 469px;
        height: 441px;
        img {
          object-fit: cover;
          object-position: 0 0;
          width: 100%;
          height: 100%;
        }
      }
      &-text {
        flex: 1;
        margin-left: 30px;
        font-family: ubuntu, sans-serif;
        font-size: 26px;
        color: #FF5C3C;
        letter-spacing: 0;
      }
    }
  }
}