.i-mandates {
  background: #fbfbfb;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    &-title {
      margin-top: 120px;
      font-family: ubuntu-Bold , sans-serif;
      font-size: 46px;
      color: #4324BA;
      letter-spacing: 0;
      text-align: center;
    }
    &-subTitle {
      margin-top: 65px;
      font-family: ubuntu, sans-serif;
      font-size: 40px;
      color: #05BAC5;
      letter-spacing: 0;
      text-align: center;
    }
    &-content {
      margin-top: 40px;
      font-family: ubuntu, sans-serif;
      font-size: 26px;
      color: #FF5C3C;
      letter-spacing: 0;
    }
    &-img {
      margin-top: 55px;
      width: 761px;
      height: 360px;
      img {
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
        height: 100%;
      }
    }
    &-list {
      margin-top: 50px;
      margin-bottom: 70px;
      @extend %flex-center;
      align-items: flex-start;
      &-item {
        margin-left: 40px;
        @extend %flex-center;
        align-items: flex-start;
        flex-direction: column;
        &-title {
          font-family: ubuntu-MediumItalic , sans-serif;
          font-size: 20px;
          color: #4324BA;
          letter-spacing: 0;
        }
        &-content {
          margin-top: 10px;
          width: 260px;
          font-family: ubuntu, sans-serif;
          font-size: 20px;
          color: #05BAC5;
          letter-spacing: 0;
        }
      }
    }
  }
}