.i-now {
  padding-top: 90px;
  padding-bottom: 85px;
  &-list {
    @extend %no-list-style;
    padding-top: 121px;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 122px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &-asset {
      width: 360px;
      height: 152px;
      margin-right: 40px;
      @extend %flex-center;
      img {
        width: 130px;
        height: 130px;
      }

    }
    &-desc {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
    }
    &-title {
      font-size: 30px;
      color: #FF5C3C;
      font-weight: normal;
      line-height: 35px;
      margin-top: 0;
      margin-bottom: 25px;
    }
    &-para {
      font-size: 22px;
      line-height: 26px;
    }
  }
}