.i-platform {
  background: #FFFFFF;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    &-title {
      margin-top: 100px;
      font-family: Ubuntu-Bold sans-serif;
      font-size: 46px;
      color: #4324BA;
      letter-spacing: 0;
      text-align: center;
    }
    &-subTitle {
      margin-top: 65px;
      font-family: Ubuntu sans-serif;
      font-size: 40px;
      color: #05BAC5;
      letter-spacing: 0;
      text-align: center;
    }
    &-content {
      margin-top: 25px;
      font-family: Ubuntu sans-serif;
      font-size: 26px;
      color: #FF5C3C;
      letter-spacing: 0;
    }
    &-img {
      margin-top: 40px;
      width: 1160px;
      height: 502px;
      img {
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
        height: 100%;
      }
    }
    &-list {
      margin-top: 82px;
      margin-bottom: 70px;
      @extend %flex-center;
      align-items: flex-start;
      &-item {
        margin-left: 80px;
        @extend %flex-center;
        flex-direction: column;
        &-img {
          width: 128px;
          height: 128px;
          img {
            object-fit: cover;
            object-position: 0 0;
            width: 100%;
            height: 100%;
          }
        }
        &-text {
          margin-top: 36px;
          width: 220px;
          font-family: Ubuntu-Medium sans-serif;
          font-size: 25px;
          color: #4324BA;
          letter-spacing: 0;
          text-align: center;
        }
      }
    }
  }
}