.i-dapp {
  height: 880px;
  background: url("../assets/banner-2.jpg") no-repeat center;
  background-size: cover;
  padding: 110px 0 120px;
  &-top-text {
    @extend %no-margin;
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 46px;
  }
  &-title {
    @extend %no-margin;
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 46px;
    margin-bottom: 112px;
    &-formLink {
      margin-bottom: 0;
      color: #fff;
      text-decoration: none;
    }
    &-link {
      font-size: 22px;
      color: #fff;
      text-decoration: none;
    }
    &-button {
      color: #fff;
      text-decoration: none;
      margin: 0 auto;
      display: block;
      line-height: 74px;
      width: 452px;
      height: 74px;
      border: 2px solid #fff;
      border-radius: 40px;
      -webkit-transition: color 0.35s;
      -o-transition: color 0.35s;
      transition: color 0.35s;
      font-size: 32px;
    }
  }
  &-sub-title {
    @extend %no-margin;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 80px;
  }
  &-big-word {
    //@extend %no-margin;
    margin: 0px;
    // width: auto;
    font-size: 70px;
    text-align: center;
    color: #fff;
    width: 39%; float: right;margin-right:139px;
  }
  &-list {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(134deg, #3023ae 0%, #c86dd7 100%);
    display: flex;
    width: 100%;
  }
  &-clearlist {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &-clearlist_big-word{
    width: 34%;
    float: left;
    margin-top: 10px;
    margin-left:176px;
  }
  &-item {
    width: 50%;
    position: relative;
    @extend %flex-center;

    &:first-of-type {
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 83px;
        background-color: rgba(#fff, 0.3);
      }
    }
    &-para {
      width: 370px;
      height: 145px;
      font-size: 26px;
      text-align: center;
      color: #fff;
      line-height: 30px;
    }
  }
}
.i-target {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
  &-type-2 {
    padding:0;
  }
  &-list {
    @extend %no-list-style;
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    justify-content: space-around;
    &-avator {
      width: 360px;
      height: 342px;
      @extend %flex-center;
      margin-bottom: 21px;
      &-img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      width: 750px;
      margin-left: 150px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-name {
      font-size: 26px;
      color: #4324ba;
      line-height: 30px;
      height: 58px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    &-feature {
      @extend %no-list-style;
      &-item {
        font-size: 22px;
        line-height: 30px;
        color: #999;
      }
    }
  }
  &-desc {
    padding-top: 111px;
    margin-top: 0;
    margin-bottom: 119px;
    font-size: 32px;
    font-weight: normal;
    line-height: 37px;
    text-align: center;
    color: #4324ba;
  }
  &-graph {
    padding: 0 5px 106px;
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &-slogan {
    @extend %no-margin;
    text-align: center;
    font-size: 32px;
    color: #06bac5;
  }
}

.i-cycle {
  padding-top: 101px;
  height: 1080px;
  background-image: linear-gradient(
    -180deg,
    rgba(61, 37, 170, 0.9) 0%,
    #2c1680 100%
  );
  &-inner {
    height: 100%;
    background: url("../assets/life-cycle-bg.svg") no-repeat center;
  }
  &-title {
    font-size: 40px;
    text-align: center;
    padding: 0 5px;
    color: #ffffff;
    font-weight: normal;
    line-height: 46px;
    @extend %no-margin;
    margin-bottom: 40px;
  }
  &-list {
    @extend %no-list-style;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 105px;
    padding-right: 105px;
  }
  &-item {
    flex-shrink: 0;
    margin-right: 240px;
    width: 360px;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &-asset {
      width: 360px;
      height: 200px;
      margin-bottom: 5px;
      @extend %flex-center;
      img {
        width: 130px;
        height: 130px;
      }
    }
    &-assets {
      height: 200px;
    }
    &-title {
      @extend %no-margin;
      margin-bottom: 18px;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
      line-height: 29px;
    }
    &-feature {
      @extend %no-list-style;
      &-text {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 24px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
.i-innovative {
  padding-top: 171px;
  padding-bottom: 138px;
  &-content {
    margin-top: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-asset {
      margin-right: 40px;
      width: 460px;
      height: 420px;
      @extend %flex-center;
      img {
        width: 280px;
        height: 280px;
      }
    }
    &-list {
      @extend %no-list-style;
    }
    &-item {
      margin-bottom: 29px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &-title {
        font-size: 26px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 3px;
      }
      &-feature {
        @extend %no-list-style;
        & > li {
          font-size: 22px;
          color: #777777;
          line-height: 26px;
        }
      }
    }
  }
}
.i-roadmap {
  background-color: #fbfbfb;
  padding-top: 129px;
  padding-bottom: 180px;
  &-asset {
    margin-top: 89px;
    margin-bottom: 59px;
    padding: 0 5px;
    height: 227px;
    &>img {
      width: 100%;
      height: 100%;
    }
  }
  &-list {
    @extend %no-list-style;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &-item {
    width: 260px;
    margin-right: 40px;
    &:last-of-type {
      margin-right: 0;
    }
    &-title {
      font-size: 26px;
      color: #ff5c3c;
      line-height: 30px;
      @extend %no-margin;
      height: 87px + 25px;
    }
    &-desc {
      font-size: 18px;
      color: #333333;
      line-height: 19px;
      margin-bottom: 8px;
      margin-top:10px;
      //@extend %no-margin;
    }
  }
}
.i-bgGray {
  background-color: #fbfbfb;
  padding-top: 50px;
  padding-bottom: 50px;
}
