.i-protocol {
  background: #fbfbfb;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    &-title {
      margin-top: 120px;
      font-family: Ubuntu-Bold sans-serif;
      font-size: 46px;
      color: #4324BA;
      letter-spacing: 0;
      text-align: center;
    }
    &-content {
      margin-top: 40px;
      font-family: Ubuntu sans-serif;
      font-size: 26px;
      color: #FF5C3C;
      letter-spacing: 0;
    }
    &-img {
      width: 1160px;
      margin-top: 65px;
      margin-bottom: 118px;
      height: 331px;
      &:last-child {
        height: 485px;
      }
      img {
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}