.i-service {
 padding-top: 111px;
 &-list {
  padding-top: 70px; 
  padding-bottom: 100px;
 }
 &-item {
   display: flex;
   justify-content: center;
   &:last-of-type {
     margin-bottom: 0;
   }
   &-left {
     .i-service-item-desc {
       margin-right: 40px;
     }
   }
   &-right {
     .i-service-item-desc {
       margin-left: 40px;
     }
   }
   &-desc {
     width: 560px;
     height: 324px;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   &-title {
    margin: 0 0 23px;
    font-size: 30px;
    font-weight: normal;
    line-height: 35px;
  }
  &-para {
    color: #666;
    line-height: 26px;
    @extend %no-margin;
  }
 }
}