.i-vision {
  background-color:#fbfbfb;
  padding: 50px 0;
  &-inner {
    display: flex;
  }
  &-item {
    width: 560px;
    height: 250px;
    @extend %flex-center;
    &-inner {
      line-height: 36px;
      font-size: 26px;
      text-align: center;
      color: #999999;
    }
  }
}