<!-- 公共头部 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Honour Network</title>
  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>
  <style>
    .hide {
      display: none;
    }
  </style>
</head>

<body class='hide'>
<section class='i-banner'>
  <script>
    if(!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
      document.write('<video class="i-banner-video u-web" id="video" controls loop autoplay><source src="static/movie.mp4" type="video/mp4" /></video>');
    }
  </script>

  <div class='i-banner-inner'>
    <header class='g-header ' id='gHeader'>
      <div class="g-header-logo">
        <a href="index.html">
          <img class='g-header-logo-asset lazyload' src='../assets/placeholder.png' data-src="../assets/logo.png" alt="">
        </a>
      </div>
      <ul class='g-header-navbar-show u-mobile'>
        <li class='g-header-navbar-item'>
          <a href="index.html" class='g-header-navbar-link'>FundTech</a>
        </li>
        <li class='g-header-navbar-item'>
          <a href="team.html" class='g-header-navbar-link'>Team</a>
        </li>
      </ul>
      <nav class="g-header-nav" id='gHeaderNav'>
        <ul class='g-header-navbar'>
          <li class='g-header-navbar-item'>
            <a href="index.html" class='g-header-navbar-link'>FundTech</a>
          </li>
          <li class='g-header-navbar-item'>
            <a href="team.html" class='g-header-navbar-link'>Team</a>
          </li>
        </ul>
      </nav>

    </header>
    <section class='i-banner-info'>
      <h1 class='i-banner-info-title'>Transform Traditional Businesses With Blockchain</h1>
      <div class='i-banner-info-divider'></div>
      <h2 class='i-banner-info-sub-title'>Smart Technology & Tokenize Economy</h2>


      <div id="mc_embed_signup" class='i-banner-mail'>
        <p class='i-banner-mail-title'>Sign-Up For Latest On Honour Network</p>
        <form class='i-banner-form' action="https://network.us18.list-manage.com/subscribe/post?u=18f2eb1e907ee176e77785573&amp;id=4f1279c7fc"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class='i-banner-form-wrapper' id="mc_embed_signup_scroll">
            <!-- <div class="indicates-required">
              <span class="asterisk">*</span> indicates required</div> -->
            <div class="i-banner-form-input  mc-field-group">
              <!-- <label for="mce-EMAIL">Email Address
                <span class="asterisk">*</span>
              </label> -->
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email">
            </div>
            <div class="i-banner-form-input  mc-field-group">
              <!-- <label for="mce-NAME">Neme </label> -->
              <input type="text" value="" name="NAME" class="" id="mce-NAME" placeholder="Your Full Name">
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_18f2eb1e907ee176e77785573_4f1279c7fc" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button i-banner-form-button">
            </div>
          </div>
          <div id="mce-responses" class="i-banner-form-response clear">
            <div class="i-banner-form-response-error response" id="mce-error-response"></div>
            <div class="i-banner-form-response-success response" id="mce-success-response"></div>
          </div>
        </form>
      </div>
      <!--<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>-->
      <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[4] = 'NAME'; ftypes[4] = 'text'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </section>
  </div>
</section>

<section class="i-main">
  <section class='i-vision'>
    <div class="i-vision-inner container">
      <div class="i-vision-item">
        <p class="i-vision-item-inner">
          Businesses Gain Technology & Business Core Uplift, Funding & Global Customers
        </p>
      </div>
      <div class="i-vision-item">
        <p class="i-vision-item-inner">
          Crypto World Gains Access To Quality Real World Businesses Via Tokenization
        </p>
      </div>
    </div>
  </section>
  <section class='i-section i-service container' id='service'>
    <h3 class='i-section-title i-section-title-type2'>What Do We Do?</h3>
    <p class='i-section-sub-title'>Simplify On Boarding Of Traditional Businesses<br/> To Blockchain, Smart Technology & Tokenize Economy</p>
    <div class='i-service-list'>
      <div class='i-service-item i-service-item-left'>
        <div class='i-service-item-desc'>
          <h4 class='i-service-item-title'>Develop New Use Cases To Transform Traditional Businesses</h4>
          <p class='i-service-item-para'>With repeatable, decentralized and compliant platform operating on the blockchain</p>
        </div>
        <div class='i-service-item-asset i-service-item-asset1'>
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/do-1.svg" alt="">
        </div>
      </div>
      <div class='i-service-item i-service-item-right'>
        <div class='i-service-item-asset i-service-item-asset2' >
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/do-2.svg" alt="">
        </div>
        <div class='i-service-item-desc'>
          <h4 class='i-service-item-title'>Onboard Traditional Businesses With Our Industry Development & Reach-Out</h4>
          <p class='i-service-item-para'>Setup innovation labs, lead research & development, build ecosystem of solution providers and host conferences
          </p>
        </div>
      </div>
      <div class='i-service-item i-service-item-left'>
        <div class='i-service-item-desc'>
          <h4 class='i-service-item-title'>Benefit The Socially Excluded, Not Just Financially Excluded</h4>
          <p class='i-service-item-para'>Donates 2.5% of Honour Network tokens to run our social give back programme</p>
        </div>
        <div class='i-service-item-asset i-service-item-asset3'>
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/do-3.svg" alt="">
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class='i-section i-advantage' id='advantage'>
    <div class='i-advantage-inner container'>
      <h3 class='i-section-title'> Why We Are Different?</h3>
      <p class='i-section-sub-title'>We Stand Out For Having All Right Things With Capabilities To Execute</p>
      <ul class="i-advantage-list">
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-1.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We Bring Traditional Businesses To The Blockchain & Tokenize Economy</h4>
            <p class='i-advantage-item-para'>Digitalized, Decentralized, Disintermediated & Democratize</p>
          </div>
        </li>
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-2.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We Adhere To Regulatory Standards</h4>
            <p class='i-advantage-item-para'>We stay abreast with regulatory requirements & embed them into our solutions</p>
          </div>
        </li>
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-3.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We have Use Case & Committed Customer</h4>
            <p class='i-advantage-item-para'>FundTech platform serving the Fund Management industry and Fleur Capital (S) Pte. Ltd. is our pilot customer</p>
          </div>
        </li>
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-4.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We develop Community & Industry</h4>
            <p class='i-advantage-item-para'>We incurbate inclusive Innovation Labs, build an ecosystem of solution partners and host international conferences, forums & discussions</p>
          </div>
        </li>
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-5.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We have Outstanding “Token Economic” Fundamentals & Vision</h4>
            <p class='i-advantage-item-para'>Customers stake Honour Network Tokens to use our solutions Honour Network Tokens reduce in circulation after consumption</p>
          </div>
        </li>
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-6.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We have the Expertise & Technology</h4>
            <p class='i-advantage-item-para'>Team hails from global enterprises background with deep skills in blockchain technology & transformative strategies</p>
          </div>
        </li>
        <li class="i-advantage-item">
          <img class='i-advantage-item-asset lazyload' src='../assets/placeholder.png' data-src="../assets/different-7.svg" alt="">
          <div class='i-advantage-item-desc'>
            <h4 class='i-advantage-item-title'>We Embed Social Inclusion in Our Business</h4>
            <p class='i-advantage-item-para'>Contribution To Social Good Is Coded Into Our Business</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class='i-section i-now' id='now'>
    <div class="i-now-inner container">
      <h3 class='i-section-title  i-section-title-type2'>Why NOW?</h3>
      <p class='i-section-sub-title'>Perfect Timing To Address Unmet Demands Of Traditional Businesses, Crypto Community & National Interests</p>
      <ul class="i-now-list">
        <li class="i-now-item">
          <div class='i-now-item-asset i-now-item-assets'>
            <img class='i-now-item-img lazyload' src='../assets/placeholder.png' data-src="../assets/why-now-1.svg" alt="">
          </div>

          <div class="i-now-item-desc">
            <h4 class="i-now-item-title">Unmet Demand From Traditional Businesses </h4>
            <p class='i-now-item-para'>Traditional businesses want to participate in the tokenize economy powered by blockchain & smart technology but do not have the knowledge, expertise & skills</p>
          </div>
        </li>
        <li class="i-now-item">
          <div class='i-now-item-asset'>
            <img class='i-now-item-img lazyload' src='../assets/placeholder.png' data-src="../assets/why-now-2.svg" alt="">
          </div>

          <div class="i-now-item-desc">
            <h4 class="i-now-item-title">Demand From Crypto Community For Quality Businesses & Use Cases On Blockchain</h4>
            <p class='i-now-item-para'>With engaged regulators & fundraisers playing by the rules</p>
          </div>
        </li>
        <li class="i-now-item">
          <div class='i-now-item-asset'>
            <img class='i-now-item-img lazyload' src='../assets/placeholder.png' data-src="../assets/why-now-3.svg" alt="">
          </div>

          <div class="i-now-item-desc">
            <h4 class="i-now-item-title">Governments Are Experimenting With Blockchain Technology & Tokenize Economy</h4>
            <p class='i-now-item-para'>To uplift citizen experience & economy with smart technology & efficiency</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class='i-platform' id='platform'>
    <section class='i-dapp'>
      <div class="i-dapp-inner container">
        <h2 class='i-dapp-top-text'>Towards An Inclusive & Transparent Capital Market</h2>

        <div class='i-dapp-clearlist'>
          <div style="height: 105px;">
            <img class='lazyload i-dapp-clearlist_big-word' src='../assets/placeholder.png' data-src="../assets/logo.png" alt="">
            <h1 class='i-dapp-big-word'>FundTech</h1>
          </div>
        </div>

        <h2 class='i-dapp-title'>Democratize Investment Fund On The Blockchain</h2>
        <p class='i-dapp-sub-title'>with Decentralized Platform (DApp)</p>
        <div class='i-dapp-list'>
          <div class='i-dapp-item'>
            <p class='i-dapp-item-para'>
              Fund Managers Gain Technology & Business Core Uplift, New Funding Source & New Generation of Global Customers
            </p>
          </div>
          <div class='i-dapp-item'>
            <p class='i-dapp-item-para'>Crypto World Gains Asset-Backed Compliant Tokens With Intrinsic Value Supported By Underlying Assets</p>
          </div>
        </div>
      </div>
    </section>
    <section class="i-section i-target">
      <div class="i-target-inner container">
        <h3 class='i-section-title'>Honour Network's FundTech Platform Addresses The Growing Expectations Of Fund Management Industry</h3>
        <ul class="i-target-list">
          <li class="i-target-item">
            <div class="i-target-item-avator">
              <img class='i-target-item-avator-img lazyload' src='../assets/placeholder.png' data-src='../assets/people-1.jpg' alt="">
            </div>
            <div class='i-target-info'>
              <h4 class="i-target-item-name">Traditional Asset & Fund Managers</h4>
              <ul class="i-target-item-feature">
                <li class="i-target-item-feature-item">Costly and lengthy fund raising through intermediaries</li>
                <br>
                <li class="i-target-item-feature-item">Want to participate in the crypto economy but do not have the knowledge, expertise & skills</li>
              </ul>
            </div>
          </li>
          <li class="i-target-item">
            <div class="i-target-item-avator">
              <img class='i-target-item-avator-img lazyload' src='../assets/placeholder.png' data-src='../assets/people-2.jpg' alt="">
            </div>
            <div class='i-target-info'>
              <h4 class="i-target-item-name">Cryptocurrency Community</h4>
              <ul class="i-target-item-feature">
                <li class="i-target-item-feature-item">Little trust in traditional investment funds due to lack of transparency</li>
                <br>
                <li class="i-target-item-feature-item">Demands high-quality, compliant & asset-backed crypto currencies with intrinsic value</li>
                <br>
                <li class="i-target-item-feature-item">New generation expects Impact Investing</li>
              </ul>
            </div>
          </li>
          <li class="i-target-item">
            <div class="i-target-item-avator">
              <img class='i-target-item-avator-img lazyload' src='../assets/placeholder.png' data-src='../assets/people-3.jpg' alt="">
            </div>
            <div class='i-target-info'>
              <h4 class="i-target-item-name">Financial Market Regulators</h4>
              <ul class="i-target-item-feature">
                <li class="i-target-item-feature-item"> Costly and lengthy fund raising through intermediaries</li>
                <br>
                <li class="i-target-item-feature-item"> Want to participate in the crypto economy but do not have the knowledge, expertise & skills</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class='i-section i-target i-target-type-2'>
      <div class="i-target-inner container">

        <h4 class='i-target-desc'>Enables Fund Raising & Management Of Tokenized Investment Funds On Blockchain Adhering To Regulatory Standards</h4>
        <div class='i-target-graph'>
          <img class='i-target-graph-img lazyload' src='../assets/placeholder.png' data-src="../assets/financial-market-regulation.jpg" alt="">
        </div>
        <p class='i-target-slogan'>Decentralized, Transparent, Accountable, Using Blockchain As The Single Source Of Truth & No Single Authority Party</p>
      </div>
    </section>
    <section class="i-cycle">
      <div class="i-cycle-inner container">
        <h2 class='i-cycle-title'>Life-Cycle Of Fund Creation And Management On The Blockchain</h2>
        <ul class="i-cycle-list">
          <li class="i-cycle-item">
            <div class="i-cycle-item-asset i-cycle-item-assets">
              <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-1.svg" alt="">
            </div>
            <div class='i-cycle-item-desc'>
              <h4 class='i-cycle-item-title'>Investor Registration & Verification</h4>
              <ul class='i-cycle-item-feature'>
                <li class='i-cycle-item-feature-text'>Registration And Verification Of Investors Adhering To Regulatory Standards</li>
              </ul>
            </div>
          </li>
          <li class="i-cycle-item">
            <div class="i-cycle-item-asset  i-cycle-item-assets">
              <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-2.svg" alt="">
            </div>
            <div class='i-cycle-item-desc'>
              <h4 class='i-cycle-item-title'>Fund Token Creation & Sales</h4>
              <ul class='i-cycle-item-feature'>
                <li class='i-cycle-item-feature-text'> Creation of blockchain tokens representing the ownership of the Fund
                </li>
                <li class='i-cycle-item-feature-text'>Enable sales process of the Fund Tokens to investors</li>
              </ul>
            </div>
          </li>
          <li class="i-cycle-item">
            <div class="i-cycle-item-asset i-cycle-item-assets" >
              <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-3.svg" alt="">
            </div>
            <div class='i-cycle-item-desc'>
              <h4 class='i-cycle-item-title'>Fund Management</h4>
              <ul class='i-cycle-item-feature'>
                <li class='i-cycle-item-feature-text'>Management of Fund’s operations on the blockchain such as deployment of fund, distribution of income & residue value of the Fund.</li>
              </ul>
            </div>
          </li>
          <li class="i-cycle-item">
            <div class="i-cycle-item-asset i-cycle-item-assets">
              <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-4.svg" alt="">
            </div>
            <div class='i-cycle-item-desc'>
              <h4 class='i-cycle-item-title'>Vote Management</h4>
              <ul class='i-cycle-item-feature'>
                <li class='i-cycle-item-feature-text'>Creation and management of voting mechanism by the Funds’ token holders</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class='i-section i-innovative'>
      <div class='i-innovative-inner container'>
        <h3 class='i-section-title'>Innovative Features Available On Honour Network FundTech Platform</h3>
        <div class="i-innovative-content">
          <div class='i-innovative-content-asset'>
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle.svg" alt="">
          </div>
          <ul class='i-innovative-content-list'>
            <li class="i-innovative-content-item">
              <h4 class='i-innovative-content-item-title'>Decentralized, Transparent, Accountable, With Blockchain As Single Source Of Truth & No Single Authority</h4>
            </li>
            <li class="i-innovative-content-item">
              <h4 class='i-innovative-content-item-title'>On- And Off-The-Chain Transparency & Provenance Ensured</h4>
              <ul class="i-innovative-content-item-feature">
                <li>Everything Open, Public Verifiable & Auditable</li>
              </ul>
            </li>
            <li class="i-innovative-content-item">
              <h4 class='i-innovative-content-item-title'>Issue Quality & Asset-Backed Cryptocurrencies</h4>
            </li>
            <li class="i-innovative-content-item">
              <h4 class='i-innovative-content-item-title'>Unique Blockchain Identity Adhering Regulatory Standards
              </h4>
            </li>
            <li class="i-innovative-content-item">
              <h4 class='i-innovative-content-item-title'>Irrefutable Rights Of Token Holders On The Fund</h4>
            </li>
            <li class="i-innovative-content-item">
              <h4 class='i-innovative-content-item-title'>Lower The Cost of Fund Management </h4>
              <ul class="i-innovative-content-item-feature">
                <li>Raise Fund Directly From Investors Efficiently</li>
                <li>Distribute Fund Income & Residue Value To Token Holders Efficiently</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class='i-section i-roadmap'>
      <div class="i-roadmap-inner container">
        <h3 class='i-section-title'>Honour Network Fund Tech Platform Roadmap</h3>
        <div class='i-roadmap-asset u-web'>
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/roadmap-line.svg" alt="">
        </div>
        <div class='i-roadmap-asset u-mobile'>
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/roadmap-line-mobile.png" alt="">
        </div>

        <ul class="i-roadmap-list u-web">
          <li class='i-roadmap-item'>
            <h3 class='i-roadmap-item-title'>
              Phase 1
              <br> Testnet Deployment
            </h3>
            <p class='i-roadmap-item-desc'>
              Minimum Viable Product on Testnet
            </p>
            <p class='i-roadmap-item-desc'>Life-Cycle Of Fund Creation And Management On The Blockchain</p>
          </li>
          <li class='i-roadmap-item'>
            <h3 class='i-roadmap-item-title'>
              Phase 2
              <br> Customers Ready On MainNet
            </h3>
            <p class='i-roadmap-item-desc'>Production Version On MainNet</p>
            <p class='i-roadmap-item-desc'>Singapore Customers Ready</p>
            <p class='i-roadmap-item-desc'>Onboarding Of Investors</p>
            <p class='i-roadmap-item-desc'>Fundraising For Pilot Customers</p>
          </li>
          <li class='i-roadmap-item'>
            <h3 class='i-roadmap-item-title'>
              Phase 3
              <br> International Deployment
            </h3>
            <p class='i-roadmap-item-desc'>Develop & test localized version of platform</p>
            <p class='i-roadmap-item-desc'>Focus Regions:</p>
            <p class='i-roadmap-item-desc'>North Asia (Hong Kong, Shang Hai, Korea & Japan)</p>
            <p class='i-roadmap-item-desc'>Europe</p>
            <p class='i-roadmap-item-desc'>Arab Nations</p>
            <p class='i-roadmap-item-desc'>South Pacific (Melbourne/Sydney)</p>
            <p class='i-roadmap-item-desc'>Singapore Innovation Lab</p>
            <p class='i-roadmap-item-desc'>Host Singapore Conference</p>
          </li>
          <li class='i-roadmap-item'>
            <h3 class='i-roadmap-item-title'>
              Phase 4
              <br> International Customer Ready
            </h3>
            <p class='i-roadmap-item-desc'>All regulatory compliance met</p>
            <p class='i-roadmap-item-desc'>International customers ready</p>
            <p class='i-roadmap-item-desc'>International Innovation Lab</p>
            <p class='i-roadmap-item-desc'>Host International Conference</p>
          </li>
        </ul>
      </div>
    </section>
  </section>
  <section class="i-section i-connect" id='connect'>
    <div class="i-connect-inner container">
      <h3 class='i-section-title'>Connect With Us</h3>
      <p class='i-section-sub-title'>Speak directly with our project team and get first access to announcements on Telegram</p>
      <div class="i-connect-content">
        <a target='_blank' href="https://t.me/honour_network" class='i-connect-content-btn'>JOIN TELEGRAM</a>
        <div class='i-connect-content-list'>
          <a target='_blank' href="https://plus.google.com/117164306236429168907">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/googleplus.svg" alt="">
          </a>
          <a target='_blank' href="https://www.linkedin.com/company/honour-network">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/linkedin.svg" alt="">
          </a>
          <a target='_blank' href="https://medium.com/@honournetwork">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/medium.svg" alt="">
          </a>
          <a target='_blank' href="https://www.reddit.com/user/HonourNetwork">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/reddit.svg" alt="">
          </a>
          <a target='_blank' href="https://t.me/honour_network">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/telegram.svg" alt="">
          </a>
          <a target='_blank' href="https://twitter.com/honour_network">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/twitter.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="i-section i-develop" id='develop'>
    <div class="i-develop-inner container">
      <h3 class='i-section-title'> Develop Community & Industry</h3>
      <p class='i-section-sub-title'>Industry Development & Reach-Out</p>
      <ul class='i-develop-list'>
        <li class='i-develop-item'>
          <div class="i-develop-item-asset">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/Community-1.svg" alt="">
          </div>
          <h4 class='i-develop-item-title'>Innovation Labs</h4>
          <ul class="i-develop-item-feature">
            <li>Building an inclusive Innovation Labs allowing traditional businesses problem statements to be met with collaborative
              solutions from ecosystem of solution providers</li>
          </ul>
        </li>
        <li class='i-develop-item'>
          <div class="i-develop-item-asset">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/Community-2.svg" alt="">
          </div>
          <h4 class='i-develop-item-title'>Build Ecosystem Of Solution Partners</h4>
          <ul class="i-develop-item-feature">
            <li>A wide spectrum of partners to solve challenging problems of our customers through Honour Network</li>
          </ul>
        </li>
        <li class='i-develop-item'>
          <div class="i-develop-item-asset">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/Community-3.svg" alt="">
          </div>
          <h4 class='i-develop-item-title'>Promote Thought Leadership & Industry Discussions</h4>
          <ul class="i-develop-item-feature">
            <li>Host international conferences for focus industries</li>
            <li>Participative partnerships in various government programs</li>
            <li>Forge common direction for everyone</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <section class="i-section i-team" id='team'>
    <div class="i-team-inner container">
      <h3 class='i-section-title'>The Team</h3>
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/alan-lee.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Alan Lee</h4>
            <p class='i-team-item-position'>CEO/CTO & Co-Founder</p>
            <p class='i-team-item-office'>Technopreneur, Technologist, Advisor To Business On Blockchain, Crypto, Tokenized Econom, Smart Technology, Fintech & PropTech Ex IBM & HPE</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/yap-chee-wee.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Yap Chee Wee</h4>
            <p class='i-team-item-position'>Co-Founder</p>
            <p class='i-team-item-office'>Licensed Fund Manager, Chartered Financial Analyst & Accountant Entrepreneur & Independent Director of Listed Companies</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/kevin-pang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Kevin Pang</h4>
            <p class='i-team-item-position'>Co-Founder</p>
            <p class='i-team-item-office'>Fintech Startups Mentor, Technologist & Entrepreneur in Residence, Ex IBM, HPE, CSC, Telstra</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/kevin-vuong.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Kevin Vuong</h4>
            <p class='i-team-item-position'>VP, Marketing</p>
            <p class='i-team-item-office'>Global Sales & Marketing, Fintech, Big Data Analytics & Digital Marketing, Ex Philips, NXP and MEDs</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/denny-wang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Denny Wang</h4>
            <p class='i-team-item-position'>Senior Technical Advisor
            </p>
            <p class='i-team-item-office'>Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist, Ex. BitShares, TrendMicro
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/alex-chien.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Alex Chien</h4>
            <p class='i-team-item-position'>Senior Technical Advisor
            </p>
            <p class='i-team-item-office'>Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist Ex. BitShares, Neo
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/bruce-sun.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Bruce Sun</h4>
            <p class='i-team-item-position'>Backend Developer
            </p>
            <p class='i-team-item-office'>Blockchain And Back-End Developer
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/pengfeng-wang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Pengfei Wang</h4>
            <p class='i-team-item-position'>Software Development
            </p>
            <p class='i-team-item-office'>Product Manager ,Solution Specialist ,Blockchain Analytics, Ex TrendMicro, JBI
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/aaron-su.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Aaron Su</h4>
            <p class='i-team-item-position'>Senior Web Developer
            </p>
            <p class='i-team-item-office'>Blockchain And Front-End Developer
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/yuqi-liu.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Yuqi Liu</h4>
            <p class='i-team-item-position'>UI/UX Designer
            </p>
            <p class='i-team-item-office'>UI/UX Designer,Ex NGS Company Design Director
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/christian-laurent-bonte.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Christian-Laurent BONTE</h4>
            <p class='i-team-item-position'>Advisor
            </p>
            <p class='i-team-item-office'>Fintech, Entrepreneur, M&A and IPO, Managing Director of Arc Capital Singapore, Startups Advisor Ex Natixis
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/karen-new.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Karen New</h4>
            <p class='i-team-item-position'>Advisor
            </p>
            <p class='i-team-item-office'>Entrepreneur, Crypto Investor, Author Of “New Assets” & Blockchain Startup Advisor, Media Speaker
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/andras-kristof.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Andras Kristof</h4>
            <p class='i-team-item-position'>Advisor
            </p>
            <p class='i-team-item-office'>CTO at Yojee. Blockchain & Smart Contract Specialist, Lecturer, Director at ACCESS, Fellow at SUSS Ex Viki, Yahoo
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/thomas-yong.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Thomas Yong</h4>
            <p class='i-team-item-position'>Early Supporter
            </p>
            <p class='i-team-item-office'>Investor & Business Mentor</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/neel-nilakantan.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Neel Nilakantan</h4>
            <p class='i-team-item-position'>Early Supporter
            </p>
            <p class='i-team-item-office'>Fintech Startups Mentor, Technologist & Entrepreneur in Residence, Ex IBM, HPE, CSC, Telstra
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator i-team-item-avator-block">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/ntuitive-pte-ltd.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Incubation Partner</h4>
            <p class='i-team-item-position'>
            </p>
            <p class='i-team-item-office'>Innovation & Enterprise Company Of
            </p>
          </div>
        </li>
      </ul>
      <a href="team.html" class='i-team-btn u-mobile'>Detail</a>
      <a href="team.html" class='i-team-btn u-web'>Detail</a>
    </div>
  </section>
  <section class="i-section i-social" id='social'>
    <div class="i-social-inner container">
      <h3 class="i-section-title"> Social Give Back</h3>
      <p class='i-section-sub-title'>Our Business Model Embeds Social Give Back Programme To Benefit Socially Excluded, Not Just Financially Excluded</p>
      <div class="i-social-list u-web">
        <div class="i-social-item">
          <div class="i-social-item-asset">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback2.jpg" alt="">
          </div>
          <div class="i-social-item-desc i-social-item-descs">
            <h3 class='i-social-item-title'>Enhance Intellectual</h3>
            <ul class='i-social-item-feature'>
              <li>Financial Literacy & Technology Training</li>
            </ul>
          </div>
          <br/>
          <div class="i-social-item-desc">
            <h3 class='i-social-item-title'>Enhance Minds</h3>
            <ul class='i-social-item-feature'>
              <li>Programs for kids, educators & parents to see the world outside of villages. To change and evolve their minds</li>
            </ul>
          </div>
        </div>

        <div class="i-social-item">
          <div class="i-social-item-asset">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback1.jpg" alt="">
          </div>
          <div class="i-social-item-desc">
            <h3 class='i-social-item-title'>Social Schooling</h3>
            <ul class='i-social-item-feature'>
              <li>Programs to entice kids to go back to school. To show parents value of sending kids to schools.</li>
            </ul>
          </div>
          <div class="i-social-item-desc">
            <h3 class='i-social-item-title'>Financial Banking</h3>
            <ul class='i-social-item-feature'>
              <li>Crypto wallet for the extreme poor. For usage after leaving school age where future worth helps in supporting their future social needs.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class='i-social-describe u-mobile' id="describe">
        <div class="animal">
            <img class='i-social-asset lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback2.jpg" alt="" style="width:100%;height:100%;">
        </div>
	      <div class="i-social-animal-describe">
      		<p class="i-social-sub-title">Enhance Intellectual</p>
      		<p class="i-social-sub-title-none">Financial Literacy & Technology Training</p>
      		<p class="i-social-sub-title">Enhance Minds</p>
      		<p class="i-social-sub-title-sec">Programs for kids, educators & parents to see the world outside of villages. To change and evolve their minds</p>
	      </div>
        <!-- <div class='i-social-list'>
          <div class="i-social-item" data-title = 'Enhance Intellectual' data-sub-title='Financial Literacy & Technology Training'>
            <img class='i-social-asset lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback2.jpg" alt="" style="width:100%;height:100%;">
          </div>
          <div class="i-social-item" data-title = 'Social Schooling' data-sub-title='Programs to entice kids to go back to school.'>
            <img class='i-social-asset lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback1.jpg" style="width:100%;height:100%;">
          </div>
        </div> -->
      </div>
      <div class='i-social-describe u-mobile'>
        <div class="animal">
            <img class='i-social-asset lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback1.jpg" alt="" style="width:100%;height:100%;">
        </div>
	      <div class="i-social-animal-describe">
      		<p class="i-social-sub-title">Social Schooling</p>
      		<p class="i-social-sub-title-none-break">Programs to entice kids to go back to school. To show parents value of sending kids to schools.</p>
      		<p class="i-social-sub-title">Financial Banking</p>
      		<p class="i-social-sub-title-sec">Crypto wallet for the extreme poor. For usage after leaving school age where future worth helps in supporting their future social needs.</p>
	      </div>
        <!-- <div class='i-social-list'>
          <div class="i-social-item" data-title = 'Enhance Intellectual' data-sub-title='Financial Literacy & Technology Training'>
            <img class='i-social-asset lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback2.jpg" alt="" style="width:100%;height:100%;">
          </div>
          <div class="i-social-item" data-title = 'Social Schooling' data-sub-title='Programs to entice kids to go back to school.'>
            <img class='i-social-asset lazyload' src='../assets/placeholder.png' data-src="../assets/social_giveback1.jpg" style="width:100%;height:100%;">
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- <section class="i-section i-connect" id='connect'>
    <div class="i-connect-inner container">
      <h3 class='i-section-title'>Connect With Us</h3>
      <p class='i-section-sub-title'>Speak directly with our project team and get first access to announcements on Telegram</p>
      <div class="i-connect-content">
        <a target='_blank' href="https://t.me/honour_network" class='i-connect-content-btn'>JOIN TELEGRAM</a>
        <div class='i-connect-content-list'>
          <a target='_blank' href="https://plus.google.com/117164306236429168907">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/googleplus.svg" alt="">
          </a>
          <a target='_blank' href="http://www.linkedin.com/in/honour-network">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/linkedin.svg" alt="">
          </a>
          <a target='_blank' href="https://medium.com/@honournetwork">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/medium.svg" alt="">
          </a>
          <a target='_blank' href="https://www.reddit.com/user/HonourNetwork">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/reddit.svg" alt="">
          </a>
          <a target='_blank' href="https://t.me/honour_network">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/telegram.svg" alt="">
          </a>
          <a target='_blank' href="https://twitter.com/honour_network">
            <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/footer/twitter.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section> -->
</section>

<!-- 导航 -->
<section class='i-nav' id='nav'>
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item i-nav-main-item-active" data-target='service'>
        <a href="javascript:;" class='i-nav-main-link'>What Do We Do</a>
      </li>
      <li class="i-nav-main-item"  data-target='advantage'>
        <a href="javascript:;" class='i-nav-main-link'>Why We Are Different</a>
      </li>
      <li class="i-nav-main-item" data-target="now">
        <a href="javascript:;" class='i-nav-main-link'>Why Now</a>
      </li>
      <li class="i-nav-main-item" data-target="platform">
        <a href="javascript:;" class='i-nav-main-link'>Honour Network FundTech Platform</a>
      </li>
      <li class="i-nav-main-item" data-target="develop">
        <a href="javascript:;" class='i-nav-main-link'>Develop Community&Industry</a>
      </li>
      <li class="i-nav-main-item" data-target="team">
        <a href="javascript:;" class='i-nav-main-link'>The Team</a>
      </li>
      <li class="i-nav-main-item" data-target="social">
        <a href="javascript:;" class='i-nav-main-link'>Social Give Back</a>
      </li>
    </ul>
  </div>
  <div class="i-nav-icon u-web">
    <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/navigation.svg" alt="">
  </div>
</section>

<!-- 公共底部 -->
<footer class='g-footer'>
  <div class="g-footer-inner u-web container">
    <div class='g-footer-item g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <dl class='g-footer-contact-desc'>
        <dt>Address:</dt>
        <dd>10 Anson Road #27-18 International Plaza Singapore 077903</dd>
      </dl>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <dl class='g-footer-contact-desc'>
        <dt>Email:</dt>
        <dd>hello@honour.network</dd>
      </dl>
    </div>
    <div class='g-footer-item g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="terms-conditions.html">Terms & Conditions</a>
      </p>
    </div>
  </div>
  <div class='g-footer-item u-mobile g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <p class='g-footer-contact-desc'>
        <p>Address:</p>
        <p>10 Anson Road #27-18 International Plaza Singapore 077903</p>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-contact-desc'>
        <p>Email:</p>
        <p class="g-footer-fill">hello@honour.network</p>
      </p>
    </div>
  <div class='g-footer-item u-mobile g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>

      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="terms-conditions.html">Terms & Conditions</a>
      </p>
      <p class="g-footer-fill"></p>
    </div>
  <div class="g-footer-copyright">
    Copyright Honour Network Pte. Ltd.
  </div>

</footer>

<!-- return back to top -->
<div class='back-to-top' id='backToTop'></div>

<div class='loading' id='loading'>
  <div class="loading-inner">
    <div class='loading-inner-dot'></div>
    <div class='loading-inner-dot'></div>
    <div class='loading-inner-dot'></div>
    <div class='loading-inner-dot'></div>
    <div class='loading-inner-dot'></div>
  </div>
</div>

<!-- html的熱更新 -->
<script src="http://localhost:35729/livereload.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117106038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-117106038-1');
</script>
</body>

</html>
