<!-- 公共头部 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body class='hide'>
<section class='i-banner'>
  <video class='i-banner-video u-web' id='video' muted loop autoplay>
    <source src="../static/movie.mp4" type="video/mp4" />
  </video>
  <div class='i-banner-inner'>
    <header class='g-header ' id='gHeader'>
  <div class="g-header-logo">
    <a href="/">
      <img class='g-header-logo-asset lazyload' data-src="../assets/logo.png" alt="">
    </a>
  </div>
  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='g-header-navbar-link'>One Pager</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/team.html" class='g-header-navbar-link'>Team</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="javascript:" target="_blank" class='g-header-navbar-link' id="demoHeaderBar">Demo</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="https://medium.com/honour-network" target="_blank" class='g-header-navbar-link'>Blog</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="faq.html" class='g-header-navbar-link'>FAQ</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/static/Honour_Network_White_Paper_Final_Draft_2018-07-12.pdf" class='g-header-navbar-link'>Whitepaper</a>
      </li>
    </ul>
  </nav>
</header>
<section class='i-nav' id="headerBar">
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='i-nav-main-link'>One Pager</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/team.html" class='i-nav-main-link'>Team</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:" class='i-nav-main-link' id="demoHeader">Demo</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="https://medium.com/honour-network" class='i-nav-main-link'>Blog</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/faq.html" class='i-nav-main-link'>FAQ</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/Honour_Network_White_Paper_Final_Draft_2018-07-12.pdf" class='i-nav-main-link'>Whitepaper</a>
      </li>
    </ul>
  </div>
</section>
    <section class='i-banner-info'>
  <div class="i-dapp-inner container">
    <h2 class='i-dapp-title'>Decentralised Proof-Of-Asset & Governance Tokenising Real World Assets</h2>
  </div>
  <div class="i-dapp-title i-dapp-title-formLink" id="formLink">
    <a class="i-dapp-title-link" target="_blank" href="javascript:">
      Sign-Up For Latest On Honour Network
    </a>
  </div>
  <div id="mc_embed_signup" class='i-banner-mail'>
    <form class='i-banner-form' action="https://network.us18.list-manage.com/subscribe/post?u=18f2eb1e907ee176e77785573&amp;id=4f1279c7fc"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class='i-banner-form-wrapper' id="mc_embed_signup_scroll">
        <div class="i-banner-form-input  mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email">
        </div>
        <div class="i-banner-form-input  mc-field-group">
          <input type="text" value="" name="NAME" class="" id="mce-NAME" placeholder="Your Full Name">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_18f2eb1e907ee176e77785573_4f1279c7fc" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button i-banner-form-button">
        </div>
      </div>
      <div id="mce-responses" class="i-banner-form-response clear">
        <div class="i-banner-form-response-error response" id="mce-error-response"></div>
        <div class="i-banner-form-response-success response" id="mce-success-response"></div>
      </div>
    </form>
  </div>
</section>
  </div>
</section>

<section class="i-main">
  <section id="demoLayer" class="i-demo">
  <div class="i-demo-inner">
    <div class="i-demo-inner-text">
      Demo is currently available to restricted users. Please contact us in our telegram group for information.
    </div>
    <div class="i-demo-inner-button">
      <a target="_blank" href="https://t.me/@honour_network">
        JOIN TELEGRAM
      </a>
    </div>
  </div>
</section>
  <section class='i-assets' id="assets">
  <div class="i-assets-inner container">
    <div class="i-assets-item-img">
      <img class='lazyload' data-src="../assets/pic1.jpg" alt="">
    </div>
    <div class="i-assets-item-inner">
      Only Singapore Project To Issue Asset-Backed Tokens Adhering To Regulatory Standards<br />
      Our Community Earns HNA Tokens For Providing Decentralised Proof-Of-Asset and Governance<br />
      The More Assets Tokenised, The More Our Community Can Earn<br />
      The More HNA Tokens You Have, The More You Can Earn
    </div>
  </div>
</section>
  <section class='i-vision' id="vision">
  <div class="i-vision-inner container">
    <p class="i-vision-item-inner">
      When assets ownership are democratised & fractionalised, wealth creation becomes borderless, inclusive and efficient
    </p>
  </div>
</section>
  <section class='i-whoAreWe' id="whoAreWe">
  <div class="i-whoAreWe-inner container">
    <div class="i-whoAreWe-inner-title">
      Who Are We?
    </div>
    <div class="i-whoAreWe-inner-subTitle">
      Blockchain protocol & platform to issue asset-backed tokens & connecting global investors. The more assets to-kenised, the more our community can earn.
    </div>
    <div class="i-whoAreWe-inner-list">
      <div class="i-whoAreWe-inner-list-item">
        <div class="i-whoAreWe-inner-list-item-img">
          <img data-src="../assets/do-1.svg" alt="" class="lazyload">
        </div>
        <div class="i-whoAreWe-inner-list-item-title">
          Our Community Earns
        </div>
        <div class="i-whoAreWe-inner-list-item-content">
          our native tokens to maintain decentralised governance & Incentive.
        </div>
      </div>
      <div class="i-whoAreWe-inner-list-item">
        <div class="i-whoAreWe-inner-list-item-img">
          <img data-src="../assets/do-2.svg" alt="" class="lazyload">
        </div>
        <div class="i-whoAreWe-inner-list-item-title">
          Our Blockchain Protocol
        </div>
        <div class="i-whoAreWe-inner-list-item-content">
          allows any investors to buy tokenised assets & investments directly with cryptocurrency.
        </div>
      </div>
      <div class="i-whoAreWe-inner-list-item">
        <div class="i-whoAreWe-inner-list-item-img">
          <img data-src="../assets/do-3.svg" alt="" class="lazyload">
        </div>
        <div class="i-whoAreWe-inner-list-item-title">
          Our Platform
        </div>
        <div class="i-whoAreWe-inner-list-item-content">
          allows issuers to issue asset-backed tokens adhering to international regulatory standards.
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="i-problems" id="problems">
  <div class="i-problems-inner container">
    <div class="i-problems-inner-title">
      The Market Problems
    </div>
    <div class="i-problems-inner-content">
      <div class="i-problems-inner-content-img">
        <img data-src="../assets/pic9.png" alt="" class="lazyload">
        <div class="i-problems-inner-content-img-date">
          <div class="i-problems-inner-content-img-date-item">
            Jan,1,2018
          </div>
          <div class="i-problems-inner-content-img-date-item">
            Jan,8,2018
          </div>
          <div class="i-problems-inner-content-img-date-item">
            jian,10,2018
          </div>
          <div class="i-problems-inner-content-img-date-item">
            april,7 2018
          </div>
        </div>
      </div>
      <div class="i-problems-inner-content-text">
        1. Real world assets with intrinsic value are not purchasable with cryptocurrency<br />
        <br />
        2. Quality assets & investments are not borderless & fractional<br />
        <br />
        3. Investors are paying high costs<br />
        <br />
        4. Unmet demand for transparency & provenance<br />
      </div>
    </div>
    <div class="i-problems-inner-tip">
      There is a limited supply of asset-backed tokens with intrinsic value paying dividends. When the coin market nose dive, everyone loses tremendous value.<br />
      <br />
      Acquiring fractional ownership of quality real world assets with cryptocurrency from anywhere in the world remains challenging.<br />
      <br />
      Without seamless & borderless means to acquire assets, many have to pay high cost to invest their wealth paying inter- mediaries fat fees for limited value.<br />
    </div>
  </div>
</section>

  <section class="i-approach" id="approach">
  <div class="i-approach-inner container">
    <div class='i-approach-inner-title'>
      Our Approach
    </div>
    <div class="i-approach-inner-img">
      <img data-src="../assets/pic3.png" alt="" class="lazyload">
    </div>
    <div class='i-approach-inner-subTitle'>
      How Do We Do It?
    </div>
    <div class='i-approach-inner-content'>
      <div class='i-approach-inner-content-item-1'>
        An open source blockchain protocol
      </div>
      <div class='i-approach-inner-content-item-2'>
        A decentralised platform adhering to international regulatory standards
      </div>
      <div class='i-approach-inner-content-item-3'>
        Business mandates that extend on the protocol & platform
      </div>
      <div class='i-approach-inner-content-item-4'>
        Decentralised governance & incentives with our native tokens
      </div>
    </div>
  </div>
</section>

  <section class="i-protocol" id="protocol">
  <div class="i-protocol-inner container">
    <div class="i-protocol-inner-title">
      1. What Is Honour Protocol?
    </div>
    <div class="i-protocol-inner-content">
      Honour Protocol is an open source block- chain protocol developed by us on Ethereum for the tokenisation and man-
      agement of assets & investments trans- parently with decentralised governance & incentive. Anyone can use Honour
      Proto- col. It is the foundation of everything.
    </div>
    <div class="i-protocol-inner-img">
      <img data-src="../assets/pic4.png" class='lazyload' alt="">
    </div>
    <div class="i-protocol-inner-img">
      <img data-src="../assets/pic5.png" class='lazyload' alt="">
    </div>
  </div>
</section>
  <section class="i-platform" id="platform">
  <div class="i-platform-inner container">
    <div class="i-platform-inner-title">
      2. The FundTech Platform
    </div>
    <div class="i-platform-inner-subTitle">
      What Is FundTech Platform?
    </div>
    <div class="i-platform-inner-content">
      It is a decentralised application build upon the Honour Protocol to tokenise and manage assets & investments funds. Asset-backed tokens issued on the FundTech plat- form adhere to regulatory standards and are issued by regulated asset managers.
    </div>
    <div class="i-platform-inner-img">
      <img data-src="../assets/pic6.png" class='lazyload' alt="">
    </div>
    <div class="i-platform-inner-subTitle">
      The 4 Key Functions Of FundTech Platform
    </div>
    <div class="i-platform-inner-list">
      <div class="i-platform-inner-list-item">
        <div class="i-platform-inner-list-item-img">
          <img data-src="../assets/life-cycle-1.svg" class='lazyload' alt="">
        </div>
        <div class="i-platform-inner-list-item-text">
          Investor Registration & Verification
        </div>
      </div>
      <div class="i-platform-inner-list-item">
        <div class="i-platform-inner-list-item-img">
          <img data-src="../assets/life-cycle-2.svg" class='lazyload' alt="">
        </div>
        <div class="i-platform-inner-list-item-text">
          Fund Token Creation & Sales
        </div>
      </div>
      <div class="i-platform-inner-list-item">
        <div class="i-platform-inner-list-item-img">
          <img data-src="../assets/life-cycle-3.svg" class='lazyload' alt="">
        </div>
        <div class="i-platform-inner-list-item-text">
          Fund Management
        </div>
      </div>
      <div class="i-platform-inner-list-item">
        <div class="i-platform-inner-list-item-img">
          <img data-src="../assets/life-cycle-4.svg" class='lazyload' alt="">
        </div>
        <div class="i-platform-inner-list-item-text">
          Vote Management
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="i-mandates" id="mandates">
  <div class="i-mandates-inner container">
    <div class="i-mandates-inner-title">
      3. The Four Business Mandates
    </div>
    <div class="i-mandates-inner-subTitle">
      What Are Honour Business Mandates?
    </div>
    <div class="i-mandates-inner-content">
      Honour Network’s 4 business mandates ex- tends on the Honour Protocol & FundTech plat- form to drive more values for HNA token hold- ers, the community, issuers and investors.
    </div>
    <div class="i-mandates-inner-img">
      <img data-src="../assets/pic7.png" class='lazyload' alt="">
    </div>
    <div class="i-mandates-inner-list">
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourPREMIER
        </div>
        <div class="i-mandates-inner-list-item-content">
          Ready pool of e-KYCed investors adhering to regu- latory standards.
        </div>
      </div>
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourDEALS
        </div>
        <div class="i-mandates-inner-list-item-content">
          Steady flow of quality deals sourced from around the world and/or proposed by community.
        </div>
      </div>
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourCONNECT
        </div>
        <div class="i-mandates-inner-list-item-content">
          Making asset-backed tokens more transferable & tradeable.
        </div>
      </div>
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourGLOBAL
        </div>
        <div class="i-mandates-inner-list-item-content">
          Making Honour Protocol & FundTech platform adhering to international regulatory standards that matter.
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="i-incentive" id="incentive">
  <div class="i-incentive-inner container">
    <div class="i-incentive-inner-title">
      4. Decentralised Governance & Incentive
    </div>
    <div class="i-incentive-inner-subTitle">
      Promote Decentralised Governance & Incentive
    </div>
    <div class="i-incentive-inner-content">
      <div class="i-incentive-inner-content-img">
        <img data-src="../assets/pic8.jpg" class='lazyload' alt="">
      </div>
      <div class="i-incentive-inner-content-text">
        The native token on Honour Protocol - Honour Network Access (HNA) tokens promote decentralised governance & incentive.<br />
        <br />
        Anyone can be part of Honour Protocol community by performing any role as Appraisers, Investors, Invigilators, Proposers or be voted into HonourDAO.<br />
        <br />
        Anyone can earn HNA tokens when performing his/her chosen role. And the more HNA tokens he/she has, the more HNAs can be earned. And if their works are up voted, they also earn more HNAs.<br />
        <br />
        HonourDAO eventually will design the governance & incentive model as well as its governance model that is optimised for Honour Protocol. Members of HonourDAO is voted by HNA token holders.<br />
      </div>
    </div>
  </div>
</section>
  <section class="i-roadmap" id="roadmap">
  <div class="i-roadmap-inner container">
    <div class="i-roadmap-inner-title">
      Honour Network Fund Tech Platform Roadmap
    </div>
    <div class="i-roadmap-inner-textList">
      <div class="i-roadmap-inner-text">
        Today
      </div>
      <div class="i-roadmap-inner-text">
        Phase 1
      </div>
      <div class="i-roadmap-inner-text">
        Phase 2
      </div>
      <div class="i-roadmap-inner-text">
        Phase 3
      </div>
    </div>
    <div class="i-roadmap-inner-img">
      <img data-src="../assets/line.svg" class='lazyload' alt="">
    </div>
    <div class="i-roadmap-inner-contentList">
      <div class="i-roadmap-inner-content">
        Solution Demo on TestNet
        Committed Customers
        Global Partnerships
        Experienced Team
        Viable Business Model
        Long - Team Mission
        Full WhitePaper
      </div>
      <div class="i-roadmap-inner-content">
        FundTech MVP On TestNet
        Launch 1st Fund Token
      </div>
      <div class="i-roadmap-inner-content">
        FundTech MVP On MainNet
        Launch Honour premier
        Launch Honour Deals
        Launch Honour Connect
      </div>
      <div class="i-roadmap-inner-content">
        Launch Honour Global
        Eelease Honour Protocol
        Release Governance
        Model of Honour DAO
      </div>
    </div>
  </div>
</section>
  <section class="i-section i-connect" id='connect'>
    <div class="i-connect-inner container">
        <h3 class='i-section-title'>Connect With Us</h3>
        <p class='i-section-sub-title'>Speak directly with our project team and get first access to announcements on Telegram</p>
        <div class="i-connect-content">
            <a target='_blank' href="https://t.me/@honour_network" class='i-connect-content-btn'>JOIN TELEGRAM</a>
            <div class='i-connect-content-list'>
                <!--<a target='_blank' href="https://plus.google.com/117164306236429168907">-->
                    <!--<img class='lazyload'  src="../assets/footer/googleplus.svg" alt="">-->
                <!--</a>-->
                <a target='_blank' href="https://www.linkedin.com/company/honour-network/">
                    <img class='lazyload'  src="../assets/footer/linkedin.svg" alt="">
                </a>
                <a target='_blank' href="https://medium.com/honour-network">
                    <img class='lazyload'  src="../assets/footer/medium.svg" alt="">
                </a>
                <a target='_blank' href="https://www.reddit.com/user/HonourNetwork">
                    <img class='lazyload'  src="../assets/footer/reddit.svg" alt="">
                </a>
                <a target='_blank' href="https://t.me/@honour_network">
                    <img class='lazyload'  src="../assets/footer/telegram.svg" alt="">
                </a>
                <a target='_blank' href="https://twitter.com/honour_network">
                    <img class='lazyload'  src="../assets/footer/twitter.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
  <section class="i-section i-develop" id='develop'>
  <div class="i-develop-inner container">
    <h3 class='i-section-title'> Develop Community & Industry</h3>
    <p class='i-section-sub-title'>Industry Development & Reach-Out</p>
    <ul class='i-develop-list'>
      <li class='i-develop-item'>
        <div class="i-develop-item-asset">
          <img class='lazyload'  src="../assets/Community-1.svg" alt="">
        </div>
        <h4 class='i-develop-item-title'>Innovation Labs</h4>
        <ul class="i-develop-item-feature">
          <li>Building an inclusive Innovation Labs allowing traditional businesses problem statements to be met with collaborative
            solutions from ecosystem of solution providers</li>
        </ul>
      </li>
      <li class='i-develop-item'>
        <div class="i-develop-item-asset">
          <img class='lazyload'  src="../assets/Community-2.svg" alt="">
        </div>
        <h4 class='i-develop-item-title'>Build Ecosystem Of Solution Partners</h4>
        <ul class="i-develop-item-feature">
          <li>A wide spectrum of partners to solve challenging problems of our customers through Honour Network</li>
        </ul>
      </li>
      <li class='i-develop-item'>
        <div class="i-develop-item-asset">
          <img class='lazyload'  src="../assets/Community-3.svg" alt="">
        </div>
        <h4 class='i-develop-item-title'>Promote Thought Leadership & Industry Discussions</h4>
        <ul class="i-develop-item-feature">
          <li>Host international conferences for focus industries</li>
          <li>Participative partnerships in various government programs</li>
          <li>Forge common direction for everyone</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
  <section class="i-section i-team" id='team'>
  <div class="u-web">
    <div class="i-team-inner container">
      <h3 class='i-section-title'>The Team</h3>
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/alan-lee.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Alan Lee</h4>
            <p class='i-team-item-position'>CEO/CTO & Co-Founder</p>
            <p class='i-team-item-office'>Technopreneur, Technologist, Advisor To Business On Blockchain, Crypto,
              Tokenized Economy, Smart Technology, Fintech & PropTech Ex IBM & HPE</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/yap-chee-wee.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Yap Chee Wee</h4>
            <p class='i-team-item-position'>Co-Founder</p>
            <p class='i-team-item-office'>Licensed Fund Manager, Chartered Financial Analyst & Accountant Entrepreneur &
              Independent Director of Listed Companies</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/kevin-vuong.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Kevin Vuong</h4>
            <p class='i-team-item-position'>VP, Marketing</p>
            <p class='i-team-item-office'>Global Sales & Marketing, Fintech, Big Data Analytics & Digital Marketing, Ex
              Philips, NXP and MEDs</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="i-team-inner container">
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png'
                 data-src="../assets/avators/christian-laurent-bonte.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Christian-Laurent BONTE</h4>
            <p class='i-team-item-position'>Advisor</p>
            <p class='i-team-item-office'>Fintech, Entrepreneur, M&A and IPO, Managing Director of Arc Capital
              Singapore, Startups Advisor Ex Natixis
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/James.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>James Kho</h4>
            <p class='i-team-item-position'>Advisor</p>
            <p class='i-team-item-office'>Investor, Visionary VC, Independent Directors of 4 SGX Listed Companies.
              Passionate in Blockchain & Fintech, CEO of Willan Capital</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/andras-kristof.jpg"
                 alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Andras Kristof</h4>
            <p class='i-team-item-position'>Advisor</p>
            <p class='i-team-item-office'>CTO at Yojee. Blockchain & Smart Contract Specialist, Lecturer, Director at
              ACCESS, Fellow at SUSS Ex Viki, Yahoo</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/karen-new.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Karen New</h4>
            <p class='i-team-item-position'>Advisor
            </p>
            <p class='i-team-item-office'>Entrepreneur, Crypto Investor, Author Of “New Assets” & Blockchain Startup
              Advisor, Media Speaker</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="i-team-inner container">
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/denny-wang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Denny Wang</h4>
            <p class='i-team-item-position'>Senior Technical Advisor
            </p>
            <p class='i-team-item-office'>Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist, Ex.
              BitShares, TrendMicro</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/alex-chien.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Alex Chien</h4>
            <p class='i-team-item-position'>Senior Technical Advisor</p>
            <p class='i-team-item-office'>Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist Ex.
              BitShares, Neo</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/kevin-pang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Kevin Pang</h4>
            <p class='i-team-item-position'>Strategy</p>
            <p class='i-team-item-office'>Fintech Startups Mentor, Technologist & Entrepreneur in Residence, Ex IBM,
              HPE, CSC, Telstra</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="i-team-inner container">
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/bruce-sun.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Bruce Sun</h4>
            <p class='i-team-item-position'>Backend Developer
            </p>
            <p class='i-team-item-office'>Blockchain And Back-End Developer</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/pengfeng-wang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Pengfei Wang</h4>
            <p class='i-team-item-position'>Software Development</p>
            <p class='i-team-item-office'>Product Manager ,Solution Specialist ,Blockchain Analytics, Ex TrendMicro,
              JBI</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/aaron-su.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Aaron Su</h4>
            <p class='i-team-item-position'>Senior Web Developer</p>
            <p class='i-team-item-office'>Blockchain And Front-End Developer</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/yuqi-liu.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Yuqi Liu</h4>
            <p class='i-team-item-position'>UI/UX Designer</p>
            <p class='i-team-item-office'>UI/UX Designer, Ex NGS Company Design Director</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="i-team-inner container">
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator i-team-item-avator-block">
            <img class='lazyload'  src="../assets/avators/ntuitive-pte-ltd.jpg"
                 alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Incubation Partner</h4>
            <p class='i-team-item-position'></p>
            <p class='i-team-item-office'>Innovation & Enterprise Company Of</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/thomas-yong.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Thomas Yong</h4>
            <p class='i-team-item-position'>Early Supporter
            </p>
            <p class='i-team-item-office'>Investor & Business Mentor</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/neel-nilakantan.jpg"
                 alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Neel Nilakantan</h4>
            <p class='i-team-item-position'>Early Supporter
            </p>
            <p class='i-team-item-office'>Fintech Startups Mentor, Technologist & Entrepreneur in Residence, Ex IBM,
              HPE, CSC, Telstra</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="u-mobile">
    <div class="i-team-inner container">
      <h3 class='i-section-title'>The Team</h3>
      <ul class='i-team-list'>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/alan-lee.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Alan Lee</h4>
            <p class='i-team-item-position'>CEO/CTO & Co-Founder</p>
            <p class='i-team-item-office'>Technopreneur, Technologist, Advisor To Business On Blockchain, Crypto,
              Tokenized Economy, Smart Technology, Fintech & PropTech Ex IBM & HPE</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/yap-chee-wee.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Yap Chee Wee</h4>
            <p class='i-team-item-position'>Co-Founder</p>
            <p class='i-team-item-office'>Licensed Fund Manager, Chartered Financial Analyst & Accountant Entrepreneur &
              Independent Director of Listed Companies</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/kevin-vuong.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Kevin Vuong</h4>
            <p class='i-team-item-position'>VP, Marketing</p>
            <p class='i-team-item-office'>Global Sales & Marketing, Fintech, Big Data Analytics & Digital Marketing, Ex
              Philips, NXP and MEDs</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload' src='../assets/placeholder.png'
                 data-src="../assets/avators/christian-laurent-bonte.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Christian-Laurent BONTE</h4>
            <p class='i-team-item-position'>Advisor</p>
            <p class='i-team-item-office'>Fintech, Entrepreneur, M&A and IPO, Managing Director of Arc Capital
              Singapore, Startups Advisor Ex Natixis
            </p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/James.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>James Kho</h4>
            <p class='i-team-item-position'>Advisor</p>
            <p class='i-team-item-office'>Investor, Visionary VC, Independent Directors of 4 SGX Listed Companies.
              Passionate in Blockchain & Fintech, CEO of Willan Capital</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/andras-kristof.jpg"
                 alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Andras Kristof</h4>
            <p class='i-team-item-position'>Advisor</p>
            <p class='i-team-item-office'>CTO at Yojee. Blockchain & Smart Contract Specialist, Lecturer, Director at
              ACCESS, Fellow at SUSS Ex Viki, Yahoo</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/karen-new.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Karen New</h4>
            <p class='i-team-item-position'>Advisor
            </p>
            <p class='i-team-item-office'>Entrepreneur, Crypto Investor, Author Of “New Assets” & Blockchain Startup
              Advisor, Media Speaker</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/denny-wang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Denny Wang</h4>
            <p class='i-team-item-position'>Senior Technical Advisor
            </p>
            <p class='i-team-item-office'>Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist, Ex.
              BitShares, TrendMicro</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/alex-chien.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Alex Chien</h4>
            <p class='i-team-item-position'>Senior Technical Advisor</p>
            <p class='i-team-item-office'>Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist Ex.
              BitShares, Neo</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/kevin-pang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Kevin Pang</h4>
            <p class='i-team-item-position'>Strategy</p>
            <p class='i-team-item-office'>Fintech Startups Mentor, Technologist & Entrepreneur in Residence, Ex IBM,
              HPE, CSC, Telstra</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/bruce-sun.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Bruce Sun</h4>
            <p class='i-team-item-position'>Backend Developer
            </p>
            <p class='i-team-item-office'>Blockchain And Back-End Developer</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/pengfeng-wang.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Pengfei Wang</h4>
            <p class='i-team-item-position'>Software Development</p>
            <p class='i-team-item-office'>Product Manager ,Solution Specialist ,Blockchain Analytics, Ex TrendMicro,
              JBI</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/aaron-su.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Aaron Su</h4>
            <p class='i-team-item-position'>Senior Web Developer</p>
            <p class='i-team-item-office'>Blockchain And Front-End Developer</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/yuqi-liu.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Yuqi Liu</h4>
            <p class='i-team-item-position'>UI/UX Designer</p>
            <p class='i-team-item-office'>UI/UX Designer,Ex NGS Company Design Director</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator i-team-item-avator-block">
            <img class='lazyload'  src="../assets/avators/ntuitive-pte-ltd.jpg"
                 alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Incubation Partner</h4>
            <p class='i-team-item-position'></p>
            <p class='i-team-item-office'>Innovation & Enterprise Company Of</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/thomas-yong.jpg" alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Thomas Yong</h4>
            <p class='i-team-item-position'>Early Supporter
            </p>
            <p class='i-team-item-office'>Investor & Business Mentor</p>
          </div>
        </li>
        <li class="i-team-item">
          <div class="i-team-item-avator">
            <img class='lazyload'  src="../assets/avators/neel-nilakantan.jpg"
                 alt="">
          </div>
          <div class="i-team-item-desc">
            <h4 class='i-team-item-name'>Neel Nilakantan</h4>
            <p class='i-team-item-position'>Early Supporter
            </p>
            <p class='i-team-item-office'>Fintech Startups Mentor, Technologist & Entrepreneur in Residence, Ex IBM,
              HPE, CSC, Telstra</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="i-team-inner container">
    <ul class='i-team-list'></ul>
    <a href="/team.html" class='i-team-btn u-web'>Detail</a>
    <a href="/team.html" class='i-team-btn u-mobile'>Detail</a>
  </div>
</section>
  <section class="i-section i-social" id='social'>
  <div class="i-social-inner container">
    <h3 class="i-section-title"> Social Give Back</h3>
    <p class='i-section-sub-title'>Our Business Model Embeds Social Give Back Programme To Benefit Socially Excluded,
      Not Just Financially Excluded</p>
    <div class="i-social-list u-web">
      <div class="i-social-item">
        <div class="i-social-item-asset">
          <img class="lazyload"  src="../assets/social_giveback2.jpg" alt="">
        </div>
        <div class="i-social-item-desc">
          <h3 class='i-social-item-title'>Enhance Intellectual</h3>
          <ul class='i-social-item-feature'>
            <li>Financial Literacy & Technology Training</li>
          </ul>
        </div>
        <div class="i-social-item-desc">
          <h3 class='i-social-item-title'>Enhance Minds</h3>
          <ul class='i-social-item-feature'>
            <li>Programs for kids, educators & parents to see the world outside of villages. To change and evolve their
              minds
            </li>
          </ul>
        </div>
      </div>
      <div class="i-social-item">
        <div class="i-social-item-asset">
          <img class="lazyload"  src="../assets/social_giveback1.jpg" alt="">
        </div>
        <div class="i-social-item-desc">
          <h3 class='i-social-item-title'>Social Schooling</h3>
          <ul class='i-social-item-feature'>
            <li>Programs to entice kids to go back to school. To show parents value of sending kids to schools.</li>
          </ul>
        </div>
        <div class="i-social-item-desc">
          <h3 class='i-social-item-title'>Enhance Minds</h3>
          <ul class='i-social-item-feature'>
            <li>Crypto wallet for the extreme poor. For usage after leaving school age where future worth helps in
              supporting their future social needs.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='i-social-list-wrapper u-mobile'>
      <div class="i-social-describe u-mobile" id="describe">
        <div class="animal">
          <img class="i-social-asset lazyload" src="../assets/placeholder.png" data-src="../assets/social_giveback2.jpg"
               alt="" style="width:100%;height:100%">
        </div>
        <div class="i-social-animal-describe"><p class="i-social-sub-title">Enhance Intellectual</p>
          <p class="i-social-sub-title-none">Financial Literacy &amp; Technology Training</p>
          <p class="i-social-sub-title">Enhance Minds</p>
          <p class="i-social-sub-title-sec">Programs for kids, educators &amp; parents to see <br> the world outside of
            villages. To change and <br> evolve their minds</p></div>
      </div>
      <div class="i-social-describe u-mobile">
        <div class="animal">
          <img class="i-social-asset lazyload" src="../assets/placeholder.png" data-src="../assets/social_giveback1.jpg"
               alt="" style="width:100%;height:100%">
        </div>
        <div class="i-social-animal-describe"><p class="i-social-sub-title">Social Schooling</p>
          <p class="i-social-sub-title-none-break">Programs to entice kids to go back to<br>school.To show parents value
            of sending kids to<br> schools.</p>
          <p class="i-social-sub-title">Financial Banking</p>
          <p class="i-social-sub-title-sec">Crypto wallet for the extreme poor. For usage <br>after leaving school age
            where future worth<br> helps in supporting their future social needs.</p></div>
      </div>
    </div>
  </div>
</section>
  
  
  
</section>

<!-- 导航 -->
<section class='i-nav' id='nav'>
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:;" class='i-nav-main-link'>The problems</a>
      </li>
      <li class="i-nav-main-item" data-target="approach">
        <a href="javascript:;" class='i-nav-main-link'>How Does FundTech Platform Help?</a>
      </li>
      <li class="i-nav-main-item" data-target='advantage'>
        <a href="javascript:;" class='i-nav-main-link'>Why We Are Different</a>
      </li>
      <li class="i-nav-main-item" data-target='benefits'>
        <a href="javascript:;" class='i-nav-main-link'>Our Benefits</a>
      </li>
      <li class="i-nav-main-item" data-target='roadmap'>
        <a href="javascript:;" class='i-nav-main-link'>Roadmap</a>
      </li>
      <li class="i-nav-main-item" data-target="develop">
        <a href="javascript:;" class='i-nav-main-link'>Develop Community & Industry</a>
      </li>
      <li class="i-nav-main-item" data-target="team">
        <a href="javascript:;" class='i-nav-main-link'>The Team</a>
      </li>
      <li class="i-nav-main-item" data-target="social">
        <a href="javascript:;" class='i-nav-main-link'>Social Give Back</a>
      </li>
    </ul>
  </div>
  <div class="i-nav-icon u-web">
    <img class='lazyload'  src="../assets/navigation.svg" alt="">
  </div>
</section>

<!-- 公共底部 -->
<footer class='g-footer'>
  <div class="g-footer-inner u-web container">
    <div class='g-footer-item g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <dl class='g-footer-contact-desc'>
        <dt>Address:</dt>
        <dd>10 Anson Road #27-18 International Plaza Singapore 077903</dd>
      </dl>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <dl class='g-footer-contact-desc'>
        <dt>Email:</dt>
        <dd>hello@honour.network</dd>
      </dl>
    </div>
    <div class='g-footer-item g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/terms-conditions.html">Terms & Conditions</a>
      </p>
    </div>
  </div>
  <div class="g-footer-item u-mobile g-footer-contact"><h3 class="g-footer-item-title">Contact</h3>
    <p class="g-footer-contact-desc"></p>
    <p>Address:</p>
    <p>10 Anson Road #27-18 International Plaza Singapore 077903</p>
    <p></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-contact-desc"></p>
    <p>Email:</p>
    <p class="g-footer-fill">hello@honour.network</p>
    <p></p></div>
  <div class="g-footer-item u-mobile g-footer-notices"><h3 class="g-footer-item-title">Important Notices</h3>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="legal-statement.html">Legal Statement</a></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="protection-policy.html">Personal Data Protection
      Policy</a></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="terms-conditions.html">Terms &amp; Conditions</a></p>
    <p class="g-footer-fill"></p></div>
  <div class="g-footer-copyright">
    Copyright Honour Network Pte. Ltd.
  </div>

</footer>

<!-- return back to top -->
<div class='back-to-top' id='backToTop'></div>

<div class='loading' id='loading'>
    <div class="loading-inner">
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
    </div>
</div>

<!-- html的熱更新 -->
<script src="http://localhost:35729/livereload.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117106038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag () {
    window.dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-117106038-1');
</script>
</body>

</html>