<!-- 公共头部 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body class='hide'>
<header class='g-header g-header-type2' id='gHeader'>
  <div class="g-header-logo">
    <a href="/">
      <img class='g-header-logo-asset lazyload' src="../assets/logo.png" alt="">
    </a>
  </div>
  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="/" class='g-header-navbar-link'>FundTech</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/team.html" class='g-header-navbar-link'>Team</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="https://honour.network/ceshi/user/login" target="_blank" class='g-header-navbar-link'>Demo</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="https://medium.com/@honournetwork" target="_blank" class='g-header-navbar-link'>Blog</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="faq.html" class='g-header-navbar-link'>FAQ</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/static/Honour.Network-Whitepaper_2018_05_07.pdf" class='g-header-navbar-link'>Whitepaper</a>
      </li>
    </ul>
  </nav>
</header>

<section class="i-main">
  <div class="container ">
    <div class="base-style">
      <h2>Personal Data Protection Policy</h2>
      <p>This personal data protection policy has been compiled to better serve those who are concerned with how their &#8216;Personally
        Data and Information&#8217; is being used online. Under the Singapore Personal Data Protection Act 2012 (PDPA), it
        describes the privacy law and information security, in which information that can be used on its own or with other
        information to identify, contact, or locate a single person, or to identify an individual in context. Please read
        our personal data protection policy carefully to get a clear understanding of how we collect, use, protect or otherwise
        handle your Personally Data and Information in accordance with our website.</p>
      <p>
        <strong>What personal information do we collect from the people that visit our blog, website or app?</strong>
      </p>
      <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other
        details to help you with your experience.</p>
      <p>
        <strong>When do we collect information?</strong>
      </p>
      <p>We collect information from you when you register on our site or enter information on our site.</p>
      <p>
        <strong>How do we use your information?</strong>
      </p>
      <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond
        to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
      <ul>
        <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you
          are most interested.</li>
        <li>To improve our website in order to better serve you.</li>
        <li>To quickly process your transactions.</li>
      </ul>
      <p>
        <strong>How do we protect your information?</strong>
      </p>
      <p>We do not use vulnerability scanning and/or scanning to PCI standards.
        <br /> We only provide articles and information.</p>
      <p>We never ask for credit card numbers.</p>
      <p>We use regular malware scanning.</p>
      <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons
        who have special access rights to such systems, and are required to keep the information confidential. In addition,
        all sensitive information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
      <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain
        the safety of your personal information.</p>
      <p>
        <strong>Do we use &#8216;cookies&#8217;?</strong>
      </p>
      <p>Yes. Cookies are small files that a site or its service provider transfers to your computer&#8217;s hard drive through
        your Web browser (if you allow) that enables the site&#8217;s or service provider&#8217;s systems to recognize your
        browser and capture and remember certain information. They are also used to help us understand your preferences based
        on previous or current site activity, which enables us to provide you with improved services. We also use cookies
        to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences
        and tools in the future.</p>
      <p>
        <strong>We use cookies to:</strong>
      </p>
      <ul>
        <li>Understand and save user&#8217;s preferences for future visits.</li>
        <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools
          in the future. We may also use trusted third-party services that track this information on our behalf.</li>
      </ul>
      <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies.
        You do this through your browser settings. Since the browser is a little different, look at your browser&#8217;s
        Help Menu to learn the correct way to modify your cookies.</p>
      <p>
        <strong>If users disable cookies in their browser:</strong>
      </p>
      <p>If you turn cookies off, some of the features that make your site experience more efficient may not function properly.
        Some of the features that make your site experience more efficient and may not function properly.</p>
      <p>
        <strong>Third-party disclosure</strong>
      </p>
      <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we
        provide users with advance notice. This does not include website hosting partners and other parties who assist us
        in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this
        information confidential. We may also release information when its release is appropriate to comply with the law,
        enforce our site policies, or protect ours or others&#8217; rights, property or safety.</p>
      <p>
        <strong>Third-party links</strong>
      </p>
      <p>We do not include or offer third-party products or services on our website.</p>
      <p>
        <strong>If at any time you would like to remove your </strong>
        <strong>Personally Data and Information and/or stop receiving future emails from us, you can email us at</strong>
        <a href="mailto:info@honour.network">info@honour.network</a> and we will promptly remove Personal Data &amp; Information about you held on in our database
        and
        <strong>ALL</strong> correspondence.</p>
      <p>
        <strong>Contacting Us</strong>
      </p>
      <p>If there are any questions regarding this personal data protection policy, you may contact us at
        <a href="mailto:info@honour.network">info@honour.network</a>
      </p>

    </div>
  </div>
</section>

<!-- 公共底部 -->
<footer class='g-footer'>
  <div class="g-footer-inner u-web container">
    <div class='g-footer-item g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <dl class='g-footer-contact-desc'>
        <dt>Address:</dt>
        <dd>10 Anson Road #27-18 International Plaza Singapore 077903</dd>
      </dl>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <dl class='g-footer-contact-desc'>
        <dt>Email:</dt>
        <dd>hello@honour.network</dd>
      </dl>
    </div>
    <div class='g-footer-item g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/terms-conditions.html">Terms & Conditions</a>
      </p>
    </div>
  </div>
  <div class="g-footer-item u-mobile g-footer-contact"><h3 class="g-footer-item-title">Contact</h3>
    <p class="g-footer-contact-desc"></p>
    <p>Address:</p>
    <p>10 Anson Road #27-18 International Plaza Singapore 077903</p>
    <p></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-contact-desc"></p>
    <p>Email:</p>
    <p class="g-footer-fill">hello@honour.network</p>
    <p></p></div>
  <div class="g-footer-item u-mobile g-footer-notices"><h3 class="g-footer-item-title">Important Notices</h3>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="legal-statement.html">Legal Statement</a></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="protection-policy.html">Personal Data Protection
      Policy</a></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="terms-conditions.html">Terms &amp; Conditions</a></p>
    <p class="g-footer-fill"></p></div>
  <div class="g-footer-copyright">
    Copyright Honour Network Pte. Ltd.
  </div>

</footer>

<!-- return back to top -->
<div class='back-to-top' id='backToTop'></div>

<div class='loading' id='loading'>
    <div class="loading-inner">
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
    </div>
</div>

<!-- html的熱更新 -->
<script src="http://localhost:35729/livereload.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117106038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag () {
    window.dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-117106038-1');
</script>
</body>

</html>