<!-- 公共头部 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Honour Network</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body class='hide'>

<header class='g-header g-header-type2' id='gHeader'>
  <div class="g-header-logo">
    <a href="index.html">
      <img class='g-header-logo-asset lazyload' src='../assets/placeholder.png' data-src="../assets/logo.png" alt="">
    </a>
  </div>
  <ul class='g-header-navbar-show u-mobile'>
    <li class='g-header-navbar-item'>
      <a href="index.html" class='g-header-navbar-link'>FundTech</a>
    </li>
    <li class='g-header-navbar-item'>
      <a href="team.html" class='g-header-navbar-link'>Team</a>
    </li>
    <li class='g-header-navbar-item'>
      <a href="static/Honour Network White Paper Final.pdf" class='g-header-navbar-link'>Whitepaper</a>
    </li>
  </ul>
  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="index.html" class='g-header-navbar-link'>FundTech</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="team.html" class='g-header-navbar-link'>Team</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="static/Honour Network White Paper Final.pdf"  class='g-header-navbar-link'>Whitepaper</a>
      </li>
    </ul>
  </nav>
</header>

<div class='container'>
    <div class="t-list">
        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/alanyhlee' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/alan-lee.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>Alan Lee</h2>
                <h3 class='t-item-staff-position'>CEO/CTO & Co-Founder</h3>
                <p class='t-item-staff-position-desc'>Technopreneur, Technologist, Advisor To Businesses on Blockchain, Crypto, Tokenize Economy, Smart Technology,
                    Fintech & Proptech, Ex. IBM & HPE</p>
                <p class='t-item-staff-introduce'>Alan is a technologist at heart for the last 20+ years and is passionate about blockchain, crypto, fintech
                    & proptech. He has served in management roles for the last 15+ years in IBM and Hewlett Packard Enterprise
                    (HPE) advising decision makers on the application of technology in business. He founded a proptech start-up
                    on co-investment & crowdfunding of real estate properties with the believe that real estate investment
                    should be available to more people. Currently, he is focusing on his strongest passion – blockchain,
                    smart technology & tokenize economy. </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/alan-lee-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/chee-wee-yap-80336634/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/yap-chee-wee.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>Yap Chee Wee</h2>
                <h3 class='t-item-staff-position'>Co-Founder</h3>
                <p class='t-item-staff-position-desc'>Licensed Fund Manager, Chartered Financial Analyst, Accountant Entrepreneur & Independent Director of Listed
                    Companies
                </p>
                <p class='t-item-staff-introduce'>
                    Chee Wee founded Fleur Capital, a licensed fund management company with Monetary Authority of Singapore in 2007 and has more
                    than 20 years of experience in private equity, venture capital, investment banking and audit. Previously,
                    he acquired and sold Wang Café, a chain of F&B outlets, for multiple returns. Prior to being a business
                    owner, he served as the Chief Investment Officer of a company listed on SGX, executing the company’s
                    investment strategy in Asia. Before that, he was with OWW Capital Partners, an Asian venture capital
                    firm, where he invested in start-ups and young companies in the technology and services sector. He also
                    served as an Independent Director on the boards of two Chinese companies listed on the Singapore Stock
                    Exchange. He was also a Director of a company listed on the Kuala Lumpur Stock Exchange. He holds the
                    Chartered Financial Analyst (CFA) and Chartered Accountant (CA) Singapore qualifications.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/yap-chee-wee-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/kevinpup' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/kevin-pang.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Kevin Pang
                </h2>
                <h3 class='t-item-staff-position'>
                    Co-Founder
                </h3>
                <p class='t-item-staff-position-desc'>
                    Fintech Startups Mentor, Technologist, Lecturer, Entrepreneur in Residence, Ex. IBM, HPE, CSC, Telstra & Starhub
                </p>
                <p class='t-item-staff-introduce'>
                    Kevin is a 23 years veteran in the Global IT and Telecommunications industry with the likes of IBM, HP, CSC, BT, Orange,
                    TaTa, Telstra and other global brand names. Kevin has extensive experience in the areas of IT and Telco
                    Technologies, Cloud Computing, Cyber Security and Fintech, covering various verticals. Being actively
                    involved in the startup ecosystem, as Entrepreneur in Residence with Startupbootcamp Fintech 2015 - 2016,
                    Kevin has contributed his vast experience to various startups with technology, product development, business
                    modelling, strategic roadmapping and structuring to improve valuation, and is still currently a mentor
                    and advisor to a variety of startups.  Kevin also volunteers with Singapore Fintech Association, and
                    is currently one of the Adjunct Lecturers for the Singapore Fintech Association Talent Program.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/kevin-pang-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/kevinqcv/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/kevin-vuong.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Kevin Vuong
                </h2>
                <h3 class='t-item-staff-position'>
                    VP, Marketing
                </h3>
                <p class='t-item-staff-position-desc'>
                    Global Sales & Marketing, Fintech, Big Data Analytics & Digital Marketing, Ex. Philips, NXP and MEDs

                </p>
                <p class='t-item-staff-introduce'>
                    Kevin is an innovative and business-savvy professional with 15+ years of experiences in Global Senior Management roles such
                    as Sales & Marketing, Digital Marketing, Sales Operations, Business Development, Big Data Analytics and
                    Market Research. He is known to be a diligent and trusted steward under his charge in Philips, NXP and
                    MEDs. Core strength is defining business and marketing plans for rapid growing market penetration and
                    creation of commercial infrastructures which led to success stories with Apple, Samsung, Huawei and many
                    more. In private, Kevin is a FinTech enthusiast, a passionate badminton player and a food lover, enjoys
                    travelling, networking with others and helping people in needs. His is currently pursuing his PhD.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/kevin-vuong-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/denny-wang/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/denny-wang.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Denny Wang
                </h2>
                <h3 class='t-item-staff-position'>
                    Senior Technical Advisor
                </h3>
                <p class='t-item-staff-position-desc'>
                    Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist Ex. BitShares, TrendMicro
                </p>
                <p class='t-item-staff-introduce'>
                    Blockchain technology expert and one of the core developers of the BitShares 1.0 software, Ethereum Enterprise Alliance China
                    representative, senior developer in Ethereum community with a wealth of experience in Virtual Machine
                    development. Recent research focuses in state channel and cross chain implementation. Graduated from
                    Nanjing University, majoring in Mathematics.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/denny-wang-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/alex-chien-46448216/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/alex-chien.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Alex Chien
                </h2>
                <h3 class='t-item-staff-position'>
                    Senior Technical Advisor
                </h3>
                <p class='t-item-staff-position-desc'>
                    Co-Founder at Itering Tech, Blockchain & Smart Contract Specialist Ex. BitShares, Neo
                </p>
                <p class='t-item-staff-introduce'>
                    Alex a full-stack developer graduated from Shanghai Jiao Tong University has more than 15 years experiences of software development.
                    Since 2011 after learning about bitcoin blockchain, he started researching into blockchain development
                    and has since involved in various open source blockchain projects. He’s the author of Neo’s first blockchain
                    explorer, active in BitShares Wallet development and is proficient in smart contract coding.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/alex-chien-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/sunbobin/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/bruce-sun.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Bruce Sun
                </h2>
                <h3 class='t-item-staff-position'>
                    Backend Developer
                </h3>
                <p class='t-item-staff-position-desc'>
                    Blockchain And Back-End Developer
                </p>
                <p class='t-item-staff-introduce'>Bruce a full-stack developer graduated from NUIST and has more than 4 years experiences of web development.
                    He works on back-end development projects for companies such as BAOZOU Comics & ATA. Currently, he is
                    heavily involved in blockchain development and coding of smart contracts.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/bruce-sun-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <!-- <a href='' class='t-item-avator-linkedin'></a> -->
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/pengfeng-wang.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Pengfei Wang
                </h2>
                <h3 class='t-item-staff-position'>
                    Software Development
                </h3>
                <p class='t-item-staff-position-desc'>
                    Product Manager, Solution Specialist, Blockchain Analytics, Ex TrendMicro, JBI
                </p>
                <p class='t-item-staff-introduce'>Pengfei is a software development project manager graduated from Nanjing University who has more than 10
                    years experiences in software development, testing and project management. He has served in software
                    testing, project management and product design roles in TrendMicro for 9 years. He is passionate about
                    cloud security, big data, blockchain and Fintech. Since 2017, he started blockchain research and related
                    projects.

                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/pengfeng-wang-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <!-- <a href='' class='t-item-avator-linkedin'></a> -->
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/aaron-su.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Aaron Su
                </h2>
                <h3 class='t-item-staff-position'>
                    Senior Web Developer
                </h3>
                <p class='t-item-staff-position-desc'>
                    Blockchain And Front-End Developer
                </p>
                <p class='t-item-staff-introduce'>Aaron is a web developer graduated from Yancheng Teachers University has more than 6 years experiences of
                    software development. Ever since 2011, he has worked for many companies including consulting and internet
                    company for various projects. He is proficient in web dev techniques, include HTML/HTML5, CSS, JavaScript
                    & NodeJS.

                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/aaron-su-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <!-- <a href='' class='t-item-avator-linkedin'></a> -->
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/yuqi-liu.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Yuqi Liu
                </h2>
                <h3 class='t-item-staff-position'>
                    UI/UX Designer
                </h3>
                <p class='t-item-staff-position-desc'>
                    UI/UX Designer At Itering Tech Ex NGS Company Design Director
                </p>
                <p class='t-item-staff-introduce'>Yuqi is a professional UI/UX designer having engaged in several design projects related to WEB/APP UI. He
                    has 9 years of design-related work experience and 2 years of design team management experience. In the
                    last five years, he specializes his skills on UI/UX design. He has participated in different stages of
                    product development from scratch to perfection. And has rich experience in dozens of mobile APP, WEB,
                    background management & website page design.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/yuqi-liu-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/karennew/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/karen-new.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Karen New
                </h2>
                <h3 class='t-item-staff-position'>
                    Advisor
                </h3>
                <p class='t-item-staff-position-desc'>
                    Entrepreneur, Crypto Investor, Speaker, Author Of “New Assets” & Advisor To MicroMoney
                </p>
                <p class='t-item-staff-introduce'>Karen believes that blockchain technology will change the way we live and we are in the midst of an evolution
                    where opportunities will be abundance. The entire economy and infrastructure will have major movements
                    with trusted third parties being made almost redundant. Legality, taxation and accountancy have to be
                    adjusted for this evolution. Smart contract will lead to secure, faster and cheaper management of contractual
                    relationships where all parties involved receives their fair share when conditions are met. These automatons
                    may remove some jobs but will surely create a new set of working conditions and job scope. People will
                    work in partnership and will have the ability to choose projects that we like to be involved in.
                    <br/>She wrote a book on Blockchain Investment entitled “New Assets” to share her experience with people who
                    are new to cryptocurrency investment. And she is honoured to be Interviewed by various presses, magazines
                    and on TV. She has appeared on Singapore Straits times, Channel News Asia, News on 5 and Channel U 财经追击
                    (Money Week). And she is regularly invited to speak on Wealth Building with Cryptocurrency Investment,
                    Female Entrepreneurship and Software Product Design.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/karen-new-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/clbonte/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/christian-laurent-bonte.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Christian-Laurent BONTE
                </h2>
                <h3 class='t-item-staff-position'>
                    Advisor
                </h3>
                <p class='t-item-staff-position-desc'>
                    Fintech, Entrepreneur, M&A and IPO, Managing Director of Arc Capital Singapore, Startups Advisor, Ex. Natixis
                </p>
                <p class='t-item-staff-introduce'>
                    Christian spent the last 15 years between Asia and Middle East in Management Consulting for an Investment Bank Group and
                    then in Corporate Finance focusing on Technology. Based in Singapore and previously in Hong Kong, he
                    is involved in the local Fintech ecosystem. He is currently the Managing Director of Arc Capital Singapore
                    – a boutique investment bank, with offices in China, Singapore, USA, Latin America and Europe, focusing
                    on middle market capital needs, M&A deals, US IPOs and general capital raising activities.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/christian-laurent-bonte-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/andraskristof/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/andras-kristof.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Andras Kristof
                </h2>
                <h3 class='t-item-staff-position'>
                    Advisor
                </h3>
                <p class='t-item-staff-position-desc'>
                    CTO at Yojee. Blockchain & Smart Contract Specialist, Lecturer, Director at ACCESS, Fellow at SUSS, Ex. Viki, Yahoo
                </p>
                <p class='t-item-staff-introduce'>
                    Entrepreneur, IT professional with 15 years of experience. Blockchain and smart contract specialist. Lecturer and Fellow
                    of Singapore University of Social Sciences. Director of IR at the Association of Cryptocurrency Enterprises
                    and Startups, Singapore.
                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/andras-kristof-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/thomas-yong-6457045/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/thomas-yong.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Thomas Yong
                </h2>
                <h3 class='t-item-staff-position'>
                    Early Supporter
                </h3>
                <p class='t-item-staff-position-desc'>
                    Crypto Investor & Business Mentor, Ex Cisco System, Samsung
                </p>
                <p class='t-item-staff-introduce'>
                    Thomas is a fintech, blockchain and crypto economy enthusiast who has invested in various promising startups and businesses
                    in Asia. He readily gives advice to entrepreneurs and business leaders to help them build strong business
                    foundation. His professional career spans various regional leadership positions with global tech companies
                    and financial institutions such as Cisco System, Samsung, Sybase and Coface Asia.

                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/thomas-yong-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator">
                <a href='https://www.linkedin.com/in/neel-nilakantan-77aab54/' class='t-item-avator-linkedin'></a>
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/neel-nilakantan.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    Neel Nilakantan
                </h2>
                <h3 class='t-item-staff-position'>
                    Early Supporter
                </h3>
                <p class='t-item-staff-position-desc'>
                    Investor, Fintech, Payment & Lending Ex MasterCard, Visa, Citibank & Standard Chartered Bank
                </p>
                <p class='t-item-staff-introduce'>
                    Neel is an accomplished Retail Banking, Digital Payments, Payment Processing and Financial Technology professional with more
                    than twenty years of experience in Product Development, Product Management and Business Expansion, relating
                    to Cards & Payments, Digital Platforms, Mobile Wallets, Retail Banking and Technology Services. He was
                    Senior Vice President of MasterCard before running Andromeda Solutions, a specialist consulting firm
                    advising C-level executives of financial institutions across Asia. He has in-depth experience across
                    Asia Pacific, Middle East & Africa with MasterCard, Visa, Citibank, Standard Chartered Bank, MashreqBank
                    and CMC Ltd (now part of Tata Consulting Services).

                </p>
                <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/neel-nilakantan-work.jpg" alt="">
            </div>
        </div>

        <div class="t-item">
            <div class="t-item-avator t-item-avator-company">
                <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/avators/ntuitive-pte-ltd.jpg" alt="">
            </div>
            <div class="t-item-staff">
                <h2 class='t-item-staff-name'>
                    NTUitive Pte Ltd
                </h2>
                <h3 class='t-item-staff-position'>
                    Incubation Partner
                </h3>
                <p class='t-item-staff-position-desc'>
                    <a href="http://www.ntuitive.sg/about-u" target='_blank'>http://www.ntuitive.sg/about-us</a>
                </p>
                <p class='t-item-staff-introduce'>
                    Nanyang Technological University – NTUitive Pte Ltd (“NTUitive” in short) is the University’s innovation and enterprise company.
                    NTUitive supports the University’s mission to develop an innovative ecosystem to encourage innovation,
                    foster entrepreneurship and facilitate the commercialisation of research.<br/>NTUitive is responsible
                    for managing the intellectual property assets of the University and to help take technology from the
                    lab to the marketplace. Its activities are intended to translate the outcome of research efforts into
                    economic benefits and improve people’s lives. At the same time it supports the University’s mission to
                    make innovation and entrepreneurship a defining feature of the University’s brand of education. These
                    efforts are expected to lead to the creation of the next generation of entrepreneurial leaders and new
                    business ventures.
                </p>
                <!-- <img class='t-item-staff-companies lazyload' class='lazyload' src='../assets/placeholder.png' data-src="../assets/team/neel-nilakantan-work.jpg" alt=""> -->
            </div>
        </div>
    </div>
</div>

<!-- 公共底部 -->
<footer class='g-footer'>
  <div class="g-footer-inner u-web container">
    <div class='g-footer-item g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <dl class='g-footer-contact-desc'>
        <dt>Address:</dt>
        <dd>10 Anson Road #27-18 International Plaza Singapore 077903</dd>
      </dl>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <dl class='g-footer-contact-desc'>
        <dt>Email:</dt>
        <dd>hello@honour.network</dd>
      </dl>
    </div>
    <div class='g-footer-item g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="terms-conditions.html">Terms & Conditions</a>
      </p>
    </div>
  </div>
    <div class='g-footer-item u-mobile g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <p class='g-footer-contact-desc'>
        <p>Address:</p>
        <p>10 Anson Road #27-18 International Plaza Singapore 077903</p>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-contact-desc'>
        <p>Email:</p>
        <p class="g-footer-fill">hello@honour.network</p>
      </p>
    </div>
  <div class='g-footer-item u-mobile g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>

      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="terms-conditions.html">Terms & Conditions</a>
      </p>
      <p class="g-footer-fill"></p>
    </div>
  <div class="g-footer-copyright">
    Copyright Honour Network Pte. Ltd.
  </div>

</footer>

<!-- return back to top -->
<div class='back-to-top' id='backToTop'></div>

<div class='loading' id='loading'>
    <div class="loading-inner">
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
    </div>
</div>

<!-- html的熱更新 -->
<script src="http://localhost:35729/livereload.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117106038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-117106038-1');
</script>
</body>

</html>
