<!-- 公共头部 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>honour.network</title>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body class='hide'> <header class='g-header g-header-type2' id='gHeader'>
  <div class="g-header-logo">
    <a href="/">
      <img class='g-header-logo-asset lazyload' src="../assets/logo.png" alt="">
    </a>
  </div>
  <nav class="g-header-nav" id='gHeaderNav'>
    <ul class='g-header-navbar'>
      <li class='g-header-navbar-item'>
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='g-header-navbar-link'>One Pager</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="/team.html" class='g-header-navbar-link'>Team</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="javascript:" target="_blank" class='g-header-navbar-link' id="demoHeaderBar">Demo</a>
      </li>
      <li class='g-header-navbar-item'>
        <a href="https://medium.com/honour-network" target="_blank" class='g-header-navbar-link'>Blog</a>
      </li>
      <!--<li class='g-header-navbar-item'>-->
        <!--<a href="faq.html" class='g-header-navbar-link'>FAQ</a>-->
      <!--</li>-->
      <!--<li class='g-header-navbar-item' id="whitepaper">-->
        <!--<a href="javascript:" class='g-header-navbar-link'>Whitepaper</a>-->
        <!--<div class="g-header-navbar-listDiv" id="whitepaperList">-->
          <!--<div class="g-header-navbar-listDiv-content">-->
            <!--<a href="/static/HN_WP_2018-08-09.pdf" target="_blank" class='g-header-navbar-link'>EN</a>-->
            <!--<a href="/static/HN_WP_ZH_2018-08-09.pdf" target="_blank" class='g-header-navbar-link'>中文</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </nav>
</header>
<section class='i-nav' id="headerBar">
  <div class="i-nav-main">
    <ul class="i-nav-main-list">
      <li class="i-nav-main-item" data-target="problems">
        <a href="/static/HN_One_Pager_18-07-12.pdf" class='i-nav-main-link'>One Pager</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="/team.html" class='i-nav-main-link'>Team</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="javascript:" class='i-nav-main-link' id="demoHeader">Demo</a>
      </li>
      <li class="i-nav-main-item" data-target="problems">
        <a href="https://medium.com/honour-network" class='i-nav-main-link'>Blog</a>
      </li>
      <!--<li class="i-nav-main-item" data-target="problems">-->
        <!--<a href="/faq.html" class='i-nav-main-link'>FAQ</a>-->
      <!--</li>-->
      <!--<li class="i-nav-main-item" data-target="problems">-->
        <!--<a href="/static/HN_WP_2018-08-09.pdf" class='i-nav-main-link'>Whitepaper-EN</a>-->
      <!--</li>-->
      <!--<li class="i-nav-main-item" data-target="problems">-->
        <!--<a href="/static/HN_WP_ZH_2018-08-09.pdf" class='i-nav-main-link'>Whitepaper-中文</a>-->
      <!--</li>-->
    </ul>
  </div>
</section>

<section class="i-main">
    <div class="container">
        <div class="base-style">
            <h2>Terms and Conditions</h2>
            <ol>
                <li>
                    <strong> Introduction.</strong>
                </li>
            </ol>
            <p>These Terms and Conditions (these “Terms” or these “Terms and Conditions”) contained herein on this webpage,
                shall govern your use of this website, including all pages within this website (collectively referred to
                hereinbelow as this “Website”). These Terms apply in full force and effect to your use of this Website and
                by using this Website, you expressly accept all Terms and Conditions contained herein in full. You must not
                use this Website if you have any objection to any of these Terms and Conditions.</p>
            <p>This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must
                not use this Website if you a minor.</p>
            <ol start="2">
                <li>
                    <strong> Intellectual Property Rights.</strong>
                </li>
            </ol>
            <p>Other than content you own, which you may have opted to include on this Website, under these Terms, Honour Network
                and/or its licensors own all rights to the intellectual property and material contained in this Website,
                and all such rights are reserved. You are granted a limited license only, subject to the restrictions provided
                in these Terms, for purposes of viewing the material contained on this Website.</p>
            <ol start="3">
                <li>
                    <strong> Restrictions.</strong>
                </li>
            </ol>
            <p>You are expressly and emphatically restricted from all of the following:</p>
            <ol>
                <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                <li>using this Website in any way that is, or may be, damaging to this Website;</li>
                <li>using this Website in any way that impacts user access to this Website;</li>
                <li>using this Website contrary to applicable laws and regulations, or in a way that causes;</li>
                <li>may cause, harm to the Website, or to any person or business entity;</li>
                <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to
                    this Website, or while using this Website;</li>
            </ol>
            <p>Certain areas of this Website are restricted from access by you and Honour Network may further restrict access
                by you to any areas of this Website, at any time, in its sole and absolute discretion. Any user ID and password
                you may have for this Website are confidential and you must maintain the confidentiality of such information.</p>
            <ol start="4">
                <li>
                    <strong> Your Content.</strong>
                </li>
            </ol>
            <p>In these Terms and Conditions, “Your Content” shall mean any audio, video, text, images or other material you
                choose to display on this Website. With respect to Your Content, by displaying it, you grant Honour Network
                a non-exclusive, worldwide, irrevocable, royalty-free, sub-licensable license to use, reproduce, adapt, publish,
                translate and distribute it in any and all media.</p>
            <p>Your Content must be your own and must not be infringing on any third party’s rights. Honour Network reserves
                the right to remove any of Your Content from this Website at any time, and for any reason, without notice.</p>
            <ol start="5">
                <li>
                    <strong> No warranties.</strong>
                </li>
            </ol>
            <p>This Website is provided “as is,” with all faults, and Honour Network makes no express or implied representations
                or warranties, of any kind related to this Website or the materials contained on this Website. Additionally,
                nothing contained on this Website shall be construed as providing consult or advice to you.</p>
            <ol start="6">
                <li>
                    <strong> Limitation of liability.</strong>
                </li>
            </ol>
            <p>In no event shall Honour Network, nor any of its officers, directors and employees, be liable to you for anything
                arising out of or in any way connected with your use of this Website, whether such liability is under contract,
                tort or otherwise, and Honour Network, including its officers, directors and employees shall not be liable
                for any indirect, consequential or special liability arising out of or in any way related to your use of
                this Website.</p>
            <ol start="7">
                <li>
                    <strong> Indemnification.</strong>
                </li>
            </ol>
            <p>You hereby indemnify to the fullest extent Honour Network from and against any and all liabilities, costs, demands,
                causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way
                related to your breach of any of the provisions of these Terms.</p>
            <ol start="8">
                <li>
                    <strong> Severability.</strong>
                </li>
            </ol>
            <p>If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability
                or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall
                be deleted without affecting the remaining provisions herein.</p>
            <ol start="9">
                <li>
                    <strong> Variation of Terms.</strong>
                </li>
            </ol>
            <p>Honour Network is permitted to revise these Terms at any time as it sees fit, and by using this Website you are
                expected to review such Terms on a regular basis to ensure you understand all Terms and Conditions governing
                the use of this Website.</p>
            <ol start="10">
                <li>
                    <strong> Assignment.</strong>
                </li>
            </ol>
            <p>Honour Network shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these
                Terms without any notification or consent required. However, you shall not be permitted to assign, transfer,
                or subcontract any of your rights and/or obligations under these Terms.</p>
            <ol start="11">
                <li>
                    <strong> Entire Agreement.</strong>
                </li>
            </ol>
            <p>These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement
                between Honour Network and you in relation to your use of this Website and supersede all prior agreements
                and understandings with respect to the same.</p>
            <ol start="12">
                <li>
                    <strong> Governing Law &amp; Jurisdiction.</strong>
                </li>
            </ol>
            <p>These Terms will be governed by and construed in accordance with the laws of Singapore and you submit to the
                non-exclusive jurisdiction of the federal courts located in Singapore for the resolution of any disputes.</p>

        </div>
    </div>
</section>

<!-- 公共底部 -->
<footer class='g-footer'>
  <div class="g-footer-inner u-web container">
    <div class='g-footer-item g-footer-contact'>
      <h3 class='g-footer-item-title'>Contact</h3>
      <dl class='g-footer-contact-desc'>
        <dt>Address:</dt>
        <dd>10 Anson Road #27-18 International Plaza Singapore 077903</dd>
      </dl>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <dl class='g-footer-contact-desc'>
        <dt>Email:</dt>
        <dd>hello@honour.network</dd>
      </dl>
    </div>
    <div class='g-footer-item g-footer-notices'>
      <h3 class='g-footer-item-title'>Important Notices</h3>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/legal-statement.html">Legal Statement</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/protection-policy.html">Personal Data Protection Policy</a>
      </p>
      <p class='g-footer-placeholder'>
        <br>
      </p>
      <p class='g-footer-notices-item g-footer-placeholder'>
        <a href="/terms-conditions.html">Terms & Conditions</a>
      </p>
    </div>
  </div>
  <div class="g-footer-item u-mobile g-footer-contact"><h3 class="g-footer-item-title">Contact</h3>
    <p class="g-footer-contact-desc"></p>
    <p>Address:</p>
    <p>10 Anson Road #27-18 International Plaza Singapore 077903</p>
    <p></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-contact-desc"></p>
    <p>Email:</p>
    <p class="g-footer-fill">hello@honour.network</p>
    <p></p></div>
  <div class="g-footer-item u-mobile g-footer-notices"><h3 class="g-footer-item-title">Important Notices</h3>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="legal-statement.html">Legal Statement</a></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="protection-policy.html">Personal Data Protection
      Policy</a></p>
    <p class="g-footer-placeholder"><br></p>
    <p class="g-footer-notices-item g-footer-placeholder"><a href="terms-conditions.html">Terms &amp; Conditions</a></p>
    <p class="g-footer-fill"></p></div>
  <div class="g-footer-copyright">
    Copyright Honour Network Pte. Ltd.
  </div>

</footer>

<!-- return back to top -->
<div class='back-to-top' id='backToTop'></div>

<div class='loading' id='loading'>
    <div class="loading-inner">
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
        <div class='loading-inner-dot'></div>
    </div>
</div>

<!-- html的熱更新 -->
<script src="http://localhost:35729/livereload.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117106038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag () {
    window.dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-117106038-1');
</script>
</body>

</html>