<section class='i-section i-advantage' id='advantage'>
  <div class='i-advantage-inner container'>
    <h3 class='i-section-title'> Why We Are Different?</h3>
    <p class='i-section-sub-title'>We Stand Out For Having All Right Things</p>
    <ul class="i-advantage-list">
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-1.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Bring Real World Assets To The Blockchain</h4>
          <p class='i-advantage-item-para'>Digitalized, Decentralized, Disintermediated & Democratize</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-2.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Adhere To Regulatory Standards</h4>
          <p class='i-advantage-item-para'>We stay abreast with regulatory requirements & embed them into our solutions</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-3.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have Use Case & Committed Customer</h4>
          <p class='i-advantage-item-para'>FundTech platform serves the Fund Management industry and Fleur Capital (S) Pte. Ltd. and Willan Capital are our pilot customers</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-4.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We develop Community & Industry</h4>
          <p class='i-advantage-item-para'>We incubate inclusive Innovation Labs, build an ecosystem of solution partners and host international conferences, forums & discussions</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-5.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have Outstanding “Token Economic” Fundamentals & Vision</h4>
          <p class='i-advantage-item-para'>Honour Network Access tokens are needed to use our solution</p>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-6.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have the Expertise & Technology</h4>
          <p class='i-advantage-item-para'>Team hails from asset management background with deep skills in blockchain technology & transformative strategies</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-7.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Embed Social Inclusion in Our Business</h4>
          <p class='i-advantage-item-para'>Contribution to social good is embedded in our business</p>
        </div>
      </li>
    </ul>
  </div>
</section>