<section class='i-section i-advantage' id='advantage'>
  <div class='i-advantage-inner container'>
    <h3 class='i-section-title'> Why We Are Different?</h3>
    <p class='i-section-sub-title'>We Stand Out For Having All Right Things With Capabilities To Execute</p>
    <ul class="i-advantage-list">
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-1.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Bring Traditional Businesses To The Blockchain & Tokenize Economy</h4>
          <p class='i-advantage-item-para'>Digitalized, Decentralized, Disintermediated & Democratize</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-2.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We are Compliant With Regulatory Requirements</h4>
          <p class='i-advantage-item-para'>We stay abreast with regulatory requirements & embed them into our solutions</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-3.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have Use Case & Committed Customers</h4>
          <p class='i-advantage-item-para'>FundTech platform serving the Fund Management industry Fleur Capital (S) Pte. Ltd. & other PE Funds in the pipeline
            (names withheld for confidentiality)
          </p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-4.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We develop Community & Industry</h4>
          <p class='i-advantage-item-para'>Research & Develop with inclusive Innovation Labs Build An Ecosystem of solution partners Host International Conferences,
            Forums & Discussion</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-5.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have Outstanding “Token Economic” Fundamentals & Vision</h4>
          <p class='i-advantage-item-para'>Customers stake Honour Network Tokens to use our solutions Honour Network Tokens reduce in circulation after consumption</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-6.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have the Expertise & Technology</h4>
          <p class='i-advantage-item-para'>Team hails from global enterprises background with deep skills in blockchain technology & transformative strategies</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-7.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Embed Social Inclusion in Our Business</h4>
          <p class='i-advantage-item-para'>Contribution To Social Good Is Coded Into The Blockchain</p>
        </div>
      </li>
    </ul>
  </div>
</section>