<section class="i-approach" id="approach">
  <div class="i-approach-inner container">
    <div class='i-approach-inner-title'>
      Our Approach
    </div>
    <div class="i-approach-inner-img">
      <img data-src="../assets/pic3.png" alt="" class="lazyload">
    </div>
    <div class='i-approach-inner-subTitle'>
      How Do We Do It?
    </div>
    <div class='i-approach-inner-content'>
      <div class='i-approach-inner-content-item-1'>
        An open source blockchain protocol
      </div>
      <div class='i-approach-inner-content-item-2'>
        A decentralised platform adhering to international regulatory standards
      </div>
      <div class='i-approach-inner-content-item-3'>
        Business mandates that extend on the protocol & platform
      </div>
      <div class='i-approach-inner-content-item-4'>
        Decentralised governance & incentives with our native tokens
      </div>
    </div>
  </div>
</section>
