<section class='i-banner-info'>
  <div class="i-dapp-inner container">
    <div class='i-dapp-clearlist'>
      <div style="height: 105px;">
        <img class='lazyload i-dapp-clearlist_big-word' src='../assets/placeholder.png'
             data-src="../assets/logo.png" alt="">
        <h1 class='i-dapp-big-word'>FundTech</h1>
      </div>
    </div>
    <h2 class='i-dapp-title'>Enables Asset-Backed Tokens, Empowers Collective <br/>Wisdom & Transparent Investing</h2>
  </div>
  <h2 class="i-dapp-title i-dapp-title-formLink" id="formLink">
    <a class="i-dapp-title-link" target="_blank" href="javascript:">
      Mailchimp Sign-Up Form
    </a>
  </h2>
  <div id="mc_embed_signup" class='i-banner-mail'>
    <form class='i-banner-form' action="https://network.us18.list-manage.com/subscribe/post?u=18f2eb1e907ee176e77785573&amp;id=4f1279c7fc"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class='i-banner-form-wrapper' id="mc_embed_signup_scroll">
        <!-- <div class="indicates-required">
          <span class="asterisk">*</span> indicates required</div> -->
        <div class="i-banner-form-input  mc-field-group">
          <!-- <label for="mce-EMAIL">Email Address
            <span class="asterisk">*</span>
          </label> -->
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email">
        </div>
        <div class="i-banner-form-input  mc-field-group">
          <!-- <label for="mce-NAME">Neme </label> -->
          <input type="text" value="" name="NAME" class="" id="mce-NAME" placeholder="Your Full Name">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_18f2eb1e907ee176e77785573_4f1279c7fc" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button i-banner-form-button">
        </div>
      </div>
      <div id="mce-responses" class="i-banner-form-response clear">
        <div class="i-banner-form-response-error response" id="mce-error-response"></div>
        <div class="i-banner-form-response-success response" id="mce-success-response"></div>
      </div>
    </form>
  </div>
  <div class="i-dapp-inner container">
    <h2 class="i-dapp-title" style="margin-top:50px">
      <a class="i-dapp-title-link" target="_blank" href="/ceshi/user/login">
        Demo Link
      </a>
    </h2>
  </div>
  <!--<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>-->
  <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[4] = 'NAME'; ftypes[4] = 'text'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->
</section>