<section class='i-dapp' id="dapp">
  <div class="i-dapp-inner container">
    <h2 class='i-dapp-title'>Towards An Inclusive & Transparent Capital Market</h2>
    <div class="i-dapp-inner container">
      <div class='i-dapp-clearlist'>
        <div style="height: 105px;">
          <img class='lazyload i-dapp-clearlist_big-word' data-src="../assets/logo.png" alt="">
          <h1 class='i-dapp-big-word'>FundTech</h1>
        </div>
      </div>
    </div>
    <h2 class='i-dapp-title'>Democratize Investment Fund On The Blockchain</h2>
    <p class='i-dapp-sub-title'>With Decentralized & Compliant Platform (DApp)</p>
    <div class='i-dapp-list'>
      <div class='i-dapp-item'>
        <p class='i-dapp-item-para'>
          Fund Managers Gain Technology & Business Core Uplift, New Funding Source & New Generation of Global Customers
        </p>
      </div>
      <div class='i-dapp-item'>
        <p class='i-dapp-item-para'>Crypto World Gains Asset- Backed Compliant Tokens With Intrinsic Value Supported By Underlying Assets</p>
      </div>
    </div>
  </div>
</section>