<section class="i-section i-develop" id='develop'>
  <div class="i-develop-inner container">
    <h3 class='i-section-title'> Develop Community & Industry</h3>
    <p class='i-section-sub-title'>Industry Development & Reach-Out</p>
    <ul class='i-develop-list'>
      <li class='i-develop-item'>
        <div class="i-develop-item-asset">
          <img class='lazyload'  src="../assets/Community-1.svg" alt="">
        </div>
        <h4 class='i-develop-item-title'>Innovation Labs</h4>
        <ul class="i-develop-item-feature">
          <li>Building an inclusive Innovation Labs allowing traditional businesses problem statements to be met with collaborative
            solutions from ecosystem of solution providers</li>
        </ul>
      </li>
      <li class='i-develop-item'>
        <div class="i-develop-item-asset">
          <img class='lazyload'  src="../assets/Community-2.svg" alt="">
        </div>
        <h4 class='i-develop-item-title'>Build Ecosystem Of Solution Partners</h4>
        <ul class="i-develop-item-feature">
          <li>A wide spectrum of partners to solve challenging problems of our customers through Honour Network</li>
        </ul>
      </li>
      <li class='i-develop-item'>
        <div class="i-develop-item-asset">
          <img class='lazyload'  src="../assets/Community-3.svg" alt="">
        </div>
        <h4 class='i-develop-item-title'>Promote Thought Leadership & Industry Discussions</h4>
        <ul class="i-develop-item-feature">
          <li>Host international conferences for focus industries</li>
          <li>Participative partnerships in various government programs</li>
          <li>Forge common direction for everyone</li>
        </ul>
      </li>
    </ul>
  </div>
</section>