<section class="i-incentive" id="incentive">
  <div class="i-incentive-inner container">
    <div class="i-incentive-inner-title">
      4. Promote Decentralised Governance & Incentive
    </div>
    <div class="i-incentive-inner-subTitle">
      Promote Decentralised Governance & Incentive
    </div>
    <div class="i-incentive-inner-content">
      <div class="i-incentive-inner-content-img">
        <img src="../assets/pic8.jpg" class='lazyload' alt="">
      </div>
      <div class="i-incentive-inner-content-text">
        The native token on Honour Protocol - Honour Network Access (HNA) tokens promote decentralised governance & incentive.<br />
        <br />
        Anyone can be part of Honour Protocol community by performing any role as Appraisers, Investors, Invigilators, Proposers or be voted into HonourDAO.<br />
        <br />
        Anyone can earn HNA tokens when performing his/her chosen role. And the more HNA tokens he/she has, the more HNAs can be earned. And if their works are up voted, they also earn more HNAs.<br />
        <br />
        HonourDAO eventually will design the governance & incentive model as well as its governance model that is optimised for Honour Protocol. Members of HonourDAO is voted by HNA token holders.<br />
      </div>
    </div>
  </div>
</section>