<section class="i-mandates" id="mandates">
  <div class="i-mandates-inner container">
    <div class="i-mandates-inner-title">
      3. The Four Business Mandates
    </div>
    <div class="i-mandates-inner-subTitle">
      What Are Honour Business Mandates?
    </div>
    <div class="i-mandates-inner-content">
      Honour Network’s 4 business mandates extends on the Honour Protocol & FundTech platform to drive more values for HNA token holders, the community, issuers and investors.
    </div>
    <div class="i-mandates-inner-img">
      <img data-src="../assets/pic7.png" class='lazyload' alt="">
    </div>
    <div class="i-mandates-inner-list">
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourPREMIER
        </div>
        <div class="i-mandates-inner-list-item-content">
          Ready pool of e-KYCed investors adhering to regulatory standards.
        </div>
      </div>
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourDEALS
        </div>
        <div class="i-mandates-inner-list-item-content">
          Steady flow of quality deals sourced from around the world and/or proposed by community.
        </div>
      </div>
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourCONNECT
        </div>
        <div class="i-mandates-inner-list-item-content">
          Making asset-backed tokens more transferable & tradeable.
        </div>
      </div>
      <div class="i-mandates-inner-list-item">
        <div class="i-mandates-inner-list-item-title">
          HonourGLOBAL
        </div>
        <div class="i-mandates-inner-list-item-content">
          Making Honour Protocol & FundTech platform adhering to international regulatory standards that matter.
        </div>
      </div>
    </div>
  </div>
</section>