<section class='i-platform' id='platform'>
    <section class='i-dapp'>
  <div class="i-dapp-inner container">
    <h2 class='i-dapp-title'>Democratize Investment Fund On The Blockchain</h2>
    <p class='i-dapp-sub-title'>With Decentralized & Compliant Platform (DApp)</p>
    <div class='i-dapp-list'>
      <div class='i-dapp-item'>
        <p class='i-dapp-item-para'>
          Fund Managers Gain Technology & Business Core Uplift, New Funding Source & Global Customers
        </p>
      </div>
      <div class='i-dapp-item'>
        <p class='i-dapp-item-para'>Crypto World Gains Asset- Backed Compliant Cryptocurrencies With Intrinsic Value Supported By Underlying Assets</p>
      </div>
    </div>
  </div>
</section> 
    <section class="i-section i-target">
  <div class="i-target-inner container">
    <h3 class='i-section-title'>Honour Network's FundTech Platform Addresses The Growing Expectations Of Fund Management Industry</h3>
    <ul class="i-target-list">
      <li class="i-target-item">
        <div class="i-target-item-avator">
          <img class='i-target-item-avator-img lazyload' src='../assets/placeholder.png' data-src='../assets/people-1.jpg' alt="">
        </div>
        <div class='i-target-info'>
          <h4 class="i-target-item-name">Traditional Asset & Fund Managers</h4>
          <ul class="i-target-item-feature">
            <li class="i-target-item-feature-item">Costly and lengthy fund raising through intermediaries</li>
            <li class="i-target-item-feature-item">Want to participate in the crypto economy but don’t have the knowledge, expertise & skills</li>
          </ul>
        </div>  
      </li>
      <li class="i-target-item">
        <div class="i-target-item-avator">
          <img class='i-target-item-avator-img lazyload' src='../assets/placeholder.png' data-src='../assets/people-2.jpg' alt="">
        </div>
        <div class='i-target-info'>        
          <h4 class="i-target-item-name">Cryptocurrency Community</h4>
          <ul class="i-target-item-feature">
            <li class="i-target-item-feature-item">Little trust in traditional investment funds due to lack of transparency</li>
            <li class="i-target-item-feature-item">Demands high-quality, compliant & asset-backed crypto currencies with intrinsic value</li>
            <li class="i-target-item-feature-item">New generation expects Impact Investing</li>
          </ul>
        </div>
      </li>
      <li class="i-target-item">
        <div class="i-target-item-avator">
          <img class='i-target-item-avator-img lazyload' src='../assets/placeholder.png' data-src='../assets/people-3.jpg' alt="">
        </div>
        <div class='i-target-info'>                
          <h4 class="i-target-item-name">Financial Market Regulators</h4>
          <ul class="i-target-item-feature">
            <li class="i-target-item-feature-item"> Costly and lengthy fund raising through intermediaries</li>
            <li class="i-target-item-feature-item"> Want to participate in the crypto economy but don’t have the knowledge, expertise & skills</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class='i-section i-target i-target-type-2'>
  <div class="i-target-inner container">

    <h4 class='i-target-desc'>Enables Fund Raising & Management Of Tokenized Investment Funds On Blockchain Compliant With Financial Market Regulators</h4>
    <div class='i-target-graph'>
      <img class='i-target-graph-img lazyload' src='../assets/placeholder.png' data-src="../assets/financial-market-regulation.jpg" alt="">
    </div>
    <p class='i-target-slogan'>Decentralized, Open, No Centralized Database & No Single Authority Party</p>
  </div>
</section> 
    <section class="i-cycle">
  <div class="i-cycle-inner container">
    <h2 class='i-cycle-title'>Life-Cycle Of Fund Creation And Management On The Blockchain</h2>
    <ul class="i-cycle-list">
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-1.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Investor Registration & Verification</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'>Registration and verification of investors on the Ethereum blockchain and IPFS</li>
          </ul>
        </div>
      </li>
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-2.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Fund Token Creation & Sales</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'> Creation of blockchain tokens representing the ownership of the Fund
            </li>
            <li class='i-cycle-item-feature-text'>Enable sales process of the Fund Tokens to investors</li>
          </ul>
        </div>
      </li>
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-3.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Fund Management</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'>Management of Fund’s operations on the blockchain such as deployment of fund, distribution of income & residue value of the Fund.</li>
          </ul>
        </div>
      </li>
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle-4.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Vote Management</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'>Creation and management of voting mechanism by the Funds’ token holders</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section> 
    <section class='i-section i-innovative'>
  <div class='i-innovative-inner container'>
    <h3 class='i-section-title'>Innovative Features Available On Honour Network Platform</h3>
    <div class="i-innovative-content">
      <div class='i-innovative-content-asset'>
        <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/life-cycle.svg" alt="">
      </div>
      <ul class='i-innovative-content-list'>
        <li class="i-innovative-content-item">
          <h4 class='i-innovative-content-item-title'>Decentralized With No Centralized Database & No Single Authority</h4>
        </li>
        <li class="i-innovative-content-item">
          <h4 class='i-innovative-content-item-title'>On- And Off-The-Chain Transparency & Provenance Ensured</h4>
          <ul class="i-innovative-content-item-feature">
            <li>Everything Open, Public Verifiable & Auditable</li>
          </ul>
        </li>
        <li class="i-innovative-content-item">
          <h4 class='i-innovative-content-item-title'>Issue Quality & Regulator Compliant Cryptocurrencies</h4>
        </li>
        <li class="i-innovative-content-item">
          <h4 class='i-innovative-content-item-title'>Unique Blockchain Identity Compliance With Regulatory Requirements (KYC/AML/CFT)
          </h4>
        </li>
        <li class="i-innovative-content-item">
          <h4 class='i-innovative-content-item-title'>Irrefutable Rights Of Token Holders On The Fund</h4>
        </li>
        <li class="i-innovative-content-item">
          <h4 class='i-innovative-content-item-title'>Lower The Cost of Fund Management </h4>
          <ul class="i-innovative-content-item-feature">
            <li>Raise Fund Directly From Investors Efficiently</li>
            <li>Distribute Fund Income & Residue Value To Token Holders Efficiently</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
    <section class='i-section i-roadmap'>
  <div class="i-roadmap-inner container">
    <h3 class='i-section-title'>Honour Network Fund Tech Platform Roadmap</h3>
    <div class='i-roadmap-asset u-web'>
      <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/roadmap-line.svg" alt="">
    </div>
    <div class='i-roadmap-asset u-mobile'>
      <img class='lazyload' src='../assets/placeholder.png' data-src="../assets/roadmap-line-mobile.png" alt="">
    </div>

    <ul class="i-roadmap-list u-web">
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 1
          <br> Testnet Deployment
        </h3>
        <p class='i-roadmap-item-desc'>
          Minimum Viable Product on Testnet
        </p>
        <p class='i-roadmap-item-desc'>Life-Cycle Of Fund Creation And Management On The Blockchain</p>
      </li>
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 2
          <br> Customers Ready On MainNet
        </h3>
        <p class='i-roadmap-item-desc'>
          Production Version On MainNet
          <br> Singapore Customers Ready Onboarding Of Investors
        </p>
        <p class='i-roadmap-item-desc'>Fundraising For Pilot Customers</p>
      </li>
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 3
          <br> International Deployment
        </h3>
        <p class='i-roadmap-item-desc'>
          Minimum Viable Product on Testnet
        </p>
        <p class='i-roadmap-item-desc'>Life-Cycle Of Fund Creation And Management On The Blockchain</p>
      </li>
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 4
          <br> International Customer Ready
        </h3>
        <p class='i-roadmap-item-desc'>All regulatory compliance met
          <br> International customers ready</p>
      </li>
    </ul>
  </div>
</section>
</section>