<section class='i-platform' id='platform'>
    <section class="i-problems">
  <h3 class='i-problems-title'>The problems</h3>
  <div class="i-problems-item">
    Lack Of Real World Asset-Backed Tokens
  </div>
  <div class="i-problems-item">
    No Collaboration On Investing
  </div>
  <div class="i-problems-item">
    Incentives Are Not Aligned
  </div>
  <div class="i-problems-item">
    Centralised & Closed Approach To Asset Management
  </div>
</section>

    <section class="i-problems i-bgGray">
  <h3 class='i-problems-title'>How Does FundTech Platform Help?</h3>
  <div class="i-problems-item">
    A pool of qualified investors with blockchain identity for asset managers
  </div>
  <div class="i-problems-item">
    Enable asset-backed tokens issue by licensed & regulated asset managers
  </div>
  <div class="i-problems-item">
    Investors buy asset-backed tokens directly without intermediaries
  </div>
  <div class="i-problems-item">
    Enable collective wisdom investing between asset managers and their investors
  </div>
  <div class="i-problems-item">
    Empower asset-backed token holders on investment & divestment
  </div>
  <div class="i-problems-item">
    Create the life-cycle of asset management on the blockchain
  </div>
  <div class="i-problems-item">
    Ensure on- and off-the-chain transparency & provenance using blockchain as single source of truth
  </div>
  <div class="i-problems-item">
    Enable efficient distribution of income & residue value on the blockchain
  </div>
  <div class="i-problems-item">
    Adhere To Regulatory Standards
  </div>
</section>

    <section class='i-section i-target i-target-type-2'>
  <div class="i-target-inner container">
    <h4 class='i-target-desc'>Enable Real World Assets On The Blockchain,Collective Wisdom Investing & Transparent Management of Assets</h4>
    <div class='i-target-graph'>
      <img class='i-target-graph-img lazyload'  src="../assets/financial-market-regulation_new.png" alt="">
    </div>
    <p class='i-target-slogan'></p>
  </div>
</section>
    <section class="i-cycle">
  <div class="i-cycle-inner container">
    <h2 class='i-cycle-title'>Life-Cycle Of Fund Creation And Management On The Blockchain</h2>
    <ul class="i-cycle-list">
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload'  src="../assets/life-cycle-1.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Investor Registration & Verification</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'>Registration And Verification Of Investors Adhering To Regulatory Standards</li>
          </ul>
        </div>
      </li>
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload'  src="../assets/life-cycle-2.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Fund Token Creation & Sales</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'> Creation of blockchain tokens representing the ownership of the Fund</li>
            <li class='i-cycle-item-feature-text'>Enable sales process of the Fund Tokens to investors</li>
          </ul>
        </div>
      </li>
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload'  src="../assets/life-cycle-3.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Fund Management</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'>Management of Fund’s operations on the blockchain such as deployment of fund, distribution of income & residue value of the Fund.</li>
          </ul>
        </div>
      </li>
      <li class="i-cycle-item">
        <div class="i-cycle-item-asset">
          <img class='lazyload'  src="../assets/life-cycle-4.svg" alt="">
        </div>
        <div class='i-cycle-item-desc'>
          <h4 class='i-cycle-item-title'>Vote Management</h4>
          <ul class='i-cycle-item-feature'>
            <li class='i-cycle-item-feature-text'>Creation and management of voting mechanism</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
    <section class='i-section i-advantage' id='advantage'>
  <div class='i-advantage-inner container'>
    <h3 class='i-section-title'> Why We Are Different?</h3>
    <p class='i-section-sub-title'>We Stand Out For Having All Right Things</p>
    <ul class="i-advantage-list">
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-1.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Bring Real World Assets To The Blockchain</h4>
          <p class='i-advantage-item-para'>Digitalized, Decentralized, Disintermediated & Democratize</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-2.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Adhere To Regulatory Standards</h4>
          <p class='i-advantage-item-para'>We stay abreast with regulatory requirements & embed them into our solutions</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-3.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have Use Case & Committed Customer</h4>
          <p class='i-advantage-item-para'>FundTech platform serving the Fund Management industry and Fleur Capital (S) Pte. Ltd. is our pilot customer</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-4.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We develop Community & Industry</h4>
          <p class='i-advantage-item-para'>We incubate inclusive Innovation Labs, build an ecosystem of solution partners and host international conferences, forums & discussions</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-5.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have Outstanding “Token Economic” Fundamentals & Vision</h4>
          <p class='i-advantage-item-para'>Customers stake Honour Network Access Tokens to use our solutions reducing</p>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-6.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We have the Expertise & Technology</h4>
          <p class='i-advantage-item-para'>Team hails from asset management background with deep skills in blockchain technology & transformative strategies</p>
        </div>
      </li>
      <li class="i-advantage-item">
        <img class='i-advantage-item-asset lazyload'  src="../assets/different-7.svg" alt="">
        <div class='i-advantage-item-desc'>
          <h4 class='i-advantage-item-title'>We Embed Social Inclusion in Our Business</h4>
          <p class='i-advantage-item-para'>Contribution to social good is embedded in our business</p>
        </div>
      </li>
    </ul>
  </div>
</section>
    <section class="i-section i-target">
  <div class="i-target-inner container">
    <h3 class='i-section-title'>Our Benefits</h3>
    <ul class="i-target-list">
      <li class="i-target-item">
        <div class="i-target-item-avator">
          <img class='i-target-item-avator-img lazyload'  src='../assets/people-1.jpg' alt="">
        </div>
        <div class='i-target-item-info'>
          <h4 class="i-target-item-name">Blockchain Community & Investors</h4>
          <ul class="i-target-item-feature">
            <li class="i-target-item-feature-item">Gain access to quality real world asset-backed tokens</li>
            <li class="i-target-item-feature-item">Gain transparency, accountability & open audit of their investment</li>
            <li class="i-target-item-feature-item">Gain ability to vote on the investment & divestment</li>
            <li class="i-target-item-feature-item">Asset managers are motivated to collaborate</li>
          </ul>
        </div>
      </li>
      <li class="i-target-item">
        <div class="i-target-item-avator">
          <img class='i-target-item-avator-img lazyload'  src='../assets/people-2.jpg' alt="">
        </div>
        <div class='i-target-item-info'>
          <h4 class="i-target-item-name">Asset Managers</h4>
          <ul class="i-target-item-feature">
            <li class="i-target-item-feature-item">Faster fundraising from existing pool of qualified investors without intermediaries Access to a new source of funding - crypto community & crypto holders</li>
            <li class="i-target-item-feature-item">Ability to offer transparency, accountability & public audit efficiently</li>
            <li class="i-target-item-feature-item">Attract a new generation of global customers who prefer transparency, immutability and openness of blockchain - “The Millenials”</li>
            <li class="i-target-item-feature-item">Lower cost of asset management & administration, increased efficiency Ability to bring real word assets to the blockchain community</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
    <section class='i-section i-roadmap'>
  <div class="i-roadmap-inner container">
    <h3 class='i-section-title'>Honour Network Fund Tech Platform Roadmap</h3>
    <div class='i-roadmap-asset u-web'>
      <img class='lazyload'  src="../assets/roadmap-line.svg" alt="">
    </div>
    <div class='i-roadmap-asset u-mobile'>
      <img class='lazyload'  src="../assets/roadmap-line-mobile.png" alt="">
    </div>

    <ul class="i-roadmap-list u-web">
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 1
          <br> Testnet Deployment
        </h3>
        <p class='i-roadmap-item-desc'>
          Minimum Viable Product on Testnet
        </p>
        <p class='i-roadmap-item-desc'>Life-Cycle Of Fund Creation And Management On The Blockchain</p>
      </li>
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 2
          <br> Customers Ready On MainNet
        </h3>
        <p class='i-roadmap-item-desc'>Production Version On MainNet</p>
        <p class='i-roadmap-item-desc'>Singapore Customers Ready Onboarding Of Investors</p>
        <p class='i-roadmap-item-desc'>Fundraising For Pilot Customers</p>
      </li>
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 3
          <br> International Deployment
        </h3>
        <p class='i-roadmap-item-desc'>Develop & test localized version of platform</p>
        <p class='i-roadmap-item-desc'>Focus Regions:</p>
        <p class='i-roadmap-item-desc'>North Asia (Hong Kong, Shang Hai, Korea & Japan)</p>
        <p class='i-roadmap-item-desc'>Europe</p>
        <p class='i-roadmap-item-desc'>Arab Nations</p>
        <p class='i-roadmap-item-desc'>South Pacific (Melbourne/Sydney)</p>
        <p class='i-roadmap-item-desc'>Singapore Innovation Lab</p>
        <p class='i-roadmap-item-desc'>Host Singapore Conference</p>
      </li>
      <li class='i-roadmap-item'>
        <h3 class='i-roadmap-item-title'>
          Phase 4
          <br> International Customer Ready
        </h3>
        <p class='i-roadmap-item-desc'>All regulatory compliance met</p>
        <p class='i-roadmap-item-desc'>International customers ready</p>
        <p class='i-roadmap-item-desc'>International Innovation Lab</p>
        <p class='i-roadmap-item-desc'>Host International Conference</p>
      </li>
    </ul>
  </div>
</section>
    
    
</section>