<section class="i-platformHelp i-bgGray" id="platformHelp">
  <h3 class='i-platformHelp-title'>
    How Does FundTech Platform Help?
  </h3>
  <div class="i-platformHelp-list">
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">1</div>
      A pool of qualified investors with blockchain identity for asset managers
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">2</div>
      Enable asset-backed tokens issue by licensed & regulated asset managers
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">3</div>
      Investors buy asset-backed tokens directly without intermediaries
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">4</div>
      Enable collective wisdom investing between asset managers and their investors
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">5</div>
      Empower asset-backed token holders on investment & divestment
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">6</div>
      Create the life-cycle of asset management on the blockchain
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">7</div>
      Ensure on- and off-the-chain transparency & provenance using blockchain as single source of truth
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">8</div>
      Enable efficient distribution of income & residue value on the blockchain
    </div>
    <div class="i-platformHelp-item">
      <div class="i-platformHelp-item-bg">9</div>
      Adhere To Regulatory Standards
    </div>
  </div>
</section>
