<section class="i-problems" id="problems">
  <div class="i-problems-inner container">
    <div class="i-problems-inner-title">
      The Market Problems
    </div>
    <div class="i-problems-inner-content">
      <div class="i-problems-inner-content-img">
        <img data-src="../assets/pic9.png" alt="" class="lazyload">
        <div class="i-problems-inner-content-img-date">
          <div class="i-problems-inner-content-img-date-item">
            Jan,1,2018
          </div>
          <div class="i-problems-inner-content-img-date-item">
            Jan,8,2018
          </div>
          <div class="i-problems-inner-content-img-date-item">
            jian,10,2018
          </div>
          <div class="i-problems-inner-content-img-date-item">
            april,7 2018
          </div>
        </div>
      </div>
      <div class="i-problems-inner-content-text">
        1. Real world assets with intrinsic value are not purchasable with cryptocurrency<br />
        <br />
        2. Quality assets & investments are not borderless & fractional<br />
        <br />
        3. Investors are paying high costs<br />
        <br />
        4. Unmet demand for transparency & provenance<br />
      </div>
    </div>
    <div class="i-problems-inner-tip">
      There is a limited supply of asset-backed tokens with intrinsic value paying dividends. When the coin market nose dive, everyone loses tremendous value.<br />
      <br />
      Acquiring fractional ownership of quality real world assets with cryptocurrency from anywhere in the world remains challenging.<br />
      <br />
      Without seamless & borderless means to acquire assets, many have to pay high cost to invest their wealth paying inter- mediaries fat fees for limited value.<br />
    </div>
  </div>
</section>
