<section class="i-problems" id="problems">
  <h3 class='i-problems-title'>The problems</h3>
  <div class="i-problems-list u-web">
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        Lack Of Real World Asset-Backed Tokens
      </div>
    </div>
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        No Collaboration On Investing
      </div>
      <div class="i-problems-item-image u-web">
        <img class='i-problems-item-image-img lazyload' src="../assets/problems.svg" alt="">
      </div>
      <div class="i-problems-item-text">
        Incentives & Risk Are Not Aligned
      </div>
    </div>
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        Centralised & Closed Approach To Asset Management
      </div>
    </div>
  </div>
  <div class="i-problems-list u-mobile">
    <div class="i-problems-item">
      <div class="i-problems-item-image u-mobile">
        <img class='i-problems-item-image-img lazyload' src="../assets/problems.svg" alt="">
      </div>
    </div>
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        Lack Of Real World Asset-Backed Tokens
      </div>
    </div>
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        No Collaboration On Investing
      </div>
    </div>
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        Incentives & Risk Are Not Aligned
      </div>
    </div>
    <div class="i-problems-item">
      <div class="i-problems-item-text">
        Centralised & Closed Approach To Asset Management
      </div>
    </div>
  </div>
  <div class="i-problems-line u-web">
    <img class='i-problems-line-img lazyload' src="../assets/problems2.svg" alt="">
  </div>
</section>
