<section class="i-protocol" id="protocol">
  <div class="i-protocol-inner container">
    <div class="i-protocol-inner-title">
      1. What Is Honour Protocol?
    </div>
    <div class="i-protocol-inner-content">
      Honour Protocol is an open source blockchain protocol developed by us on Ethereum for the tokenisation and management of assets & investments transparently with decentralised governance & incentive. Anyone can use Honour Protocol. It is the foundation of everything.
    </div>
    <div class="i-protocol-inner-img">
      <img src="../assets/pic4.png" class='lazyload' alt="">
    </div>
    <div class="i-protocol-inner-img">
      <img src="../assets/pic5.png" class='lazyload' alt="">
    </div>
  </div>
</section>