<section class="i-roadmap" id="roadmap">
  <div class="i-roadmap-inner container">
    <div class="i-roadmap-inner-title">
      Honour Network Fund Tech Platform Roadmap
    </div>
    <div class="i-roadmap-inner-textList">
      <div class="i-roadmap-inner-text">
        Today
      </div>
      <div class="i-roadmap-inner-text">
        Phase 1
      </div>
      <div class="i-roadmap-inner-text">
        Phase 2
      </div>
      <div class="i-roadmap-inner-text">
        Phase 3
      </div>
    </div>
    <div class="i-roadmap-inner-img">
      <img data-src="../assets/line.svg" class='lazyload' alt="">
    </div>
    <div class="i-roadmap-inner-contentList">
      <div class="i-roadmap-inner-content">
        Solution Demo on TestNet
        Committed Customers
        Global Partnerships
        Experienced Team
        Viable Business Model
        Long - Team Mission
        Full WhitePaper
      </div>
      <div class="i-roadmap-inner-content">
        FundTech MVP On TestNet
        Launch 1st Fund Token
      </div>
      <div class="i-roadmap-inner-content">
        FundTech MVP On MainNet
        Launch Honour premier
        Launch Honour Deals
        Launch Honour Connect
      </div>
      <div class="i-roadmap-inner-content">
        Launch Honour Global
        Eelease Honour Protocol
        Release Governance
        Model of Honour DAO
      </div>
    </div>
  </div>
</section>