.i-advantage {
  background-color: #fbfbfb;
  padding-top: px2(30);
  padding-bottom: px2(60);
  &-list {
    @extend %no-list-style;
    padding-top: px2(52);
  }
  &-item {
    display: flex;
    margin-bottom: px2(40);
    &:last-of-type {
      margin-bottom: 0;
    }
    &-asset {
      margin-right: px2(20);
      flex-shrink: 0;
      width: px2(64);
      height: px2(64);
    }
    &-desc {}
    &-title {
      font-weight: normal;
      font-size: px2(18);
      margin: 0 0 px2(10);
    }
    &-para {
      font-size: px2(16);
      line-height: px2(18);
      color:#999;
      margin: 0;
    }
  }
}