.i-mandates {
  background: #fbfbfb;
  padding: px2(50) 0;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    &-title {
      font-family: Ubuntu-Bold sans-serif;
      font-size: px2(26);
      color: #4324BA;
      letter-spacing: 0;
      text-align: center;
    }
    &-subTitle {
      margin-top: px2(20);
      font-family: Ubuntu sans-serif;
      font-size: px2(16);
      color: #05BAC5;
      letter-spacing: 0;
      text-align: center;
    }
    &-content {
      margin-top: px2(10);
      font-family: Ubuntu sans-serif;
      font-size: px2(16);
      color: #FF5C3C;
      letter-spacing: 0;
    }
    &-img {
      margin-top: px2(20);
      width: px2(335);
      height: px2(158.5);
      img {
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
        height: 100%;
      }
    }
    &-list {
      @extend %flex-center;
      align-items: flex-start;
      flex-wrap: wrap;
      &-item {
        margin-top: px2(40);
        width: px2(335 / 2);
        padding: 0 px2(5);
        @extend %flex-center;
        align-items: flex-start;
        flex-direction: column;
        &-title {
          font-family: Ubuntu-MediumItalic sans-serif;
          font-size: px2(20);
          color: #4324BA;
          letter-spacing: 0;
        }
        &-content {
          margin-top: px2(10);
          font-family: Ubuntu sans-serif;
          font-size: px2(20);
          color: #05BAC5;
          letter-spacing: 0;
        }
      }
    }
  }
}