.i-problems {
  background: url("../assets/pic2.jpg") no-repeat center;
  padding: px2(50) 0;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    &-title {
      font-family: Ubuntu-Bold sans-serif;
      font-size: px2(26);
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
    }
    &-content {
      @extend %flex-center;
      flex-direction: column;
      margin-top: px2(35);
      &-img {
        margin-top: px2(40);
        flex: 1;
        width: px2(335);
        height: px2(268);
        &-date {
          display: none;
          @extend %flex-center;
          justify-content: space-around;
          &-item {
            font-family: HelveticaNeue sans-serif;
            font-size: px2(16);
            color: #FFFFFF;
          }
        }
        img {
          object-fit: cover;
          object-position: 0 0;
          width: 100%;
          height: 100%;
        }
      }
      &-text {
        order: -1;
        font-family: Ubuntu sans-serif;
        font-size: px2(18);
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
    &-tip {
      margin-top: px2(40);
      font-family: Ubuntu sans-serif;
      font-size: px2(16);
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }
}