.i-service {
 padding-top: px2(28);

 &-list {
  padding: px2(35) 0 px2(65);
 }
 &-item {
   display: flex;
   flex-direction: column;
   margin-bottom: px2(40);
   &:last-of-type {
     margin-bottom: 0;
   }
   &-asset {
     order: 1;
     width: 100%;
     height: px2(194);
     margin-bottom: px2(12);
     @extend %flex-center;
   }
   &-desc {
     order: 2;
     color: #ff5c3c;
   }
   &-title {
    margin: 0 0 px2(10);
    font-size: px2(18);
    font-weight: normal;
    line-height: px2(21);
  }
  &-para {
    color: #666;
    font-size: px2(16);
    line-height: px2(18);
    @extend %no-margin;
  }
 }
}