%social-title {
  position: absolute;
  left: px2(10);
  color: #fff;
}
#describe{
      margin-top: px2(20);
}
.i-social {
  padding: px2(20) 0 px2(30);
  .i-section-title {
    padding: 0 px2(20);
  }
  .i-section-sub-title {
    padding: 0 px2(20);
  }
  &-list-wrapper {
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  &-list {
    margin-top: px2(20);
    padding-left: px2(20);
    display: flex;
    flex-wrap: nowrap;
  }
  &-item {
    flex-shrink: 0;
    margin-right: px2(20);
    position: relative;
    width: px2(315);
    height: px2(220);
    background-color: #ccc;
    &:last-of-type {
      // margin-right: 0;
    }
    &:before {
      @extend %social-title;
      content: attr(data-title);
      bottom: px2(26);
      font-size: px2(16);
      line-height: px2(18);
    }
    &:after {
      @extend %social-title;
      content: attr(data-sub-title);
      bottom: px2(8);
      font-size: px2(14);
      line-height: px2(16);
    }
    &-asset {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  &-describe{
    width:100%;
    height:100%;
    // background-color: #ccc;
    // position:relative;
  }
  &-animal-describe{
    // position:absolute;
    font-family: ubuntu,sans-serif;
    font-size: 31px;
    color: #777777;
    // line-height: 22px;
    text-align: center;
    width:100%;
    z-indent:2;
    left:43px;
    top:171px;
  }
  &-sub-title{
    font-size: 41px;
    color: #4324ba;
    font-weight: 400;
    line-height: 3px;
  }
  &-sub-title-none{
    white-space:nowrap;
    font-size: 33px;
    color: #333333;
  }
  &-sub-title-sec{
    word-break:break-all;
    width:92%;
    line-height: 32px;
    text-align: center;
    margin-left: 24px;
    color: #333333;
  }
  &-sub-title-none-break{
    word-break:break-all;
    width:92%;
    color: #333333;
    margin-left: 20px;
  }
}
