.i-vision {
  background-color:#fbfbfb; 
  &-inner {
    height: px2(170);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: px2(34) px2(20);
  }
  &-item {
    @extend .text-center;
    &-inner {
      @extend %no-margin;
      font-size: px2(16);
      line-height: px2(18);
      text-align: center;
      color: #4324ba;
    }
  }
}