.i-vision {
  background-color: #fbfbfb;
  padding: px2(38) 0;
  &-inner {
    @extend %flex-center;
  }
  &-item {
    @extend %flex-center;
    &-inner {
      font-family: Ubuntu sans-serif;
      font-size: px2(20);
      color: #05BAC5;
      letter-spacing: 0;
    }
  }
}