.i-whoAreWe {
  background-color: #FFFFFF;
  padding: px2(56) 0;
  &-inner {
    @extend %flex-center;
    flex-direction: column;
    &-title {
      font-family: ubuntu-Bold , sans-serif;
      font-size: px2(26);
      color: #FF5C3C;
      letter-spacing: 0;
      text-align: center;
    }
    &-subTitle {
      margin-top: px2(10);
      font-family: ubuntu, sans-serif;
      font-size: px2(16);
      color: #4324BA;
      letter-spacing: 0;
      text-align: center;
    }
    &-list {
      @extend %flex-center;
      flex-direction: column;
      &-item {
        flex: 1;
        margin-top: px2(35);
        @extend %flex-center;
        flex-direction: column;
        &-img {
          width: px2(160);
          height: px2(160);
          img {
            object-fit: cover;
            object-position: 0 0;
            width: 100%;
            height: 100%;
          }
        }
        &-title {
          margin-top: px2(15);
          font-family: ubuntu, sans-serif;
          font-size: px2(18);
          color: #4324BA;
          letter-spacing: 0;
        }
        &-content {
          margin-top: px2(10);
          font-family: ubuntu, sans-serif;
          font-size: px2(16);
          color: #777777;
          letter-spacing: 0;
        }
      }
    }
  }
}