$g-header-height: px2(36);
$g-header-padding: px2(20);

%nav {
  width: px2(16);
  height: px2(2);
  background-color: #fff;
}
.g-header {
  z-index: 1000000;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $g-header-height;
  padding: 0 $g-header-padding;
  &-logo {
    &-asset {
      width: px2(121);
      height: px2(20);
    }
  }
  &-nav {
    height: 100%;
    padding: 0 px2(20);
    margin-right: px2(-20);
    display: flex;
    align-items: center;
  }
  &-navbar-show{
    display: inline-flex;
    margin-left: 118px;
  }
  &-navbar-item{
    font-size: 22px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
  }
  &-navbar-link{
    text-decoration: none;
    color: #fff;
  }
  &-navbar {
    cursor: pointer;
    padding: 0;
    position: relative;
    @extend %nav;
    &::before,
    &::after {
      content: "";
      position: absolute;
      @extend %nav;
      left: 0;
    }
    &::before {
      top: px2(-5);
    }
    &::after {
      top: px2(5);
    }
    li {
      display: none;
    }
  }
}
.g-header-type2 {
  background-image: linear-gradient(-270deg, #784ade 0%, #4324ba 100%);
  .g-header-nav {
    display: none;
  }
}
